<template>
  <button class="BaseButton" @click="buttonClick">
    <slot />
  </button>
</template>
<script setup lang="ts">
const emit = defineEmits<{
  (event: 'click'): void
}>()

function buttonClick() {
  emit('click')
}
</script>

<style scoped>
.BaseButton {
  font-family: var(--font-secondary);
  all: unset;
  cursor: pointer;
}

.BaseButton:focus {
  outline: none;
}
</style>
