<template>
  <PrimaryButton
    class="HomeViewPrimaryButton"
    :class="{ newlyClicked: commonStore.isNavigationDrawerOpen }"
    @click="handleClick"
  >
    <Transition mode="out-in">
      <IconBase
        class="animationPulse"
        v-if="commonStore.isNavigationDrawerOpen"
        iconName="Heart"
        size="lg"
      />
      <div class="button-text" v-else>Mer Info</div>
    </Transition>
  </PrimaryButton>
</template>
<script setup lang="ts">
import IconBase from '../Icons/IconBase.vue'
import PrimaryButton from './PrimaryButton.vue'
import { useNavigationStore } from '@/stores/navigation'

const commonStore = useNavigationStore()

function handleClick() {
  commonStore.toggleNavigationDrawer()
}
</script>
<style scoped>
.HomeViewPrimaryButton {
  align-self: center;
  width: 144px;
  height: 30px;
  transition: width 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-text {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  pointer-events: none;
}

.newlyClicked {
  width: 30px;
}

.animationPulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
</style>
