<template>
  <BaseButton class="PrimaryButton">
    <slot />
  </BaseButton>
</template>
<script setup lang="ts">
import BaseButton from './BaseButton.vue'
</script>

<style scoped>
.PrimaryButton {
  background-color: var(--color-tertiary);
  border-radius: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
  color: var(--color-primary);
  text-align: center;
  font-weight: 600;
  border: 1px solid var(--color-primary);
}

.PrimaryButton:hover {
  filter: brightness(1.1);
}

.PrimaryButton:active {
  border-color: var(--color-tertiary);
}

.PrimaryButton:focus {
  outline: none;
  border-color: var(--color-tertiary);
}

.PrimaryButton:disabled {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;
}

.PrimaryButton:disabled:hover {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;
}

.PrimaryButton:disabled:active {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;
}

.PrimaryButton:disabled:focus {
  outline: none;
  box-shadow: none;
}

.PrimaryButton:disabled:active:focus {
  outline: none;
  box-shadow: none;
}

.PrimaryButton:disabled:hover:focus {
  outline: none;
  box-shadow: none;
}

.PrimaryButton:disabled:active:hover {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;
}

.PrimaryButton:disabled:hover:active {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;
}
</style>
