<template>
  <BaseButton class="SecondaryButton">
    <slot />
  </BaseButton>
</template>
<script setup lang="ts">
import BaseButton from './BaseButton.vue'
</script>
<style scoped>
.SecondaryButton {
  background-color: var(--color-primary);
  border-radius: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
  color: var(--color-tertiary);
  text-align: center;
  font-weight: 600;
  border: 1px solid var(--color-tertiary);
}

.SecondaryButton:hover {
  filter: brightness(1.05);
}

.SecondaryButton:active {
  border-color: var(--color-tertiary);
}

.SecondaryButton:focus {
  outline: none;
  border-color: var(--color-tertiary);
}

.SecondaryButton:disabled {
  background-color: #ccc;

  color: #000;
  cursor: not-allowed;
}

.SecondaryButton:disabled:hover {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;
}

.SecondaryButton:disabled:active {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;
}

.SecondaryButton:disabled:focus {
  outline: none;
  box-shadow: none;
}

.SecondaryButton:disabled:active:focus {
  outline: none;
  box-shadow: none;
}

.SecondaryButton:disabled:hover:focus {
  outline: none;
  box-shadow: none;
}

.SecondaryButton:disabled:active:hover {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;
}

.SecondaryButton:disabled:hover:active {
  background-color: #ccc;
  color: #000;
  cursor: not-allowed;
}
</style>
