<template>
  <PrimaryButton @click="handleClick">
    <div :class="{ sendAnimation: newlyClicked }">
      {{ localText }}
    </div>
  </PrimaryButton>
</template>
<script setup lang="ts">
import { ref } from 'vue'
import PrimaryButton from './PrimaryButton.vue'

const props = defineProps<{
  text?: string
}>()
const newlyClicked = ref(false)
const localText = ref(props.text)
const emit = defineEmits<{
  (event: 'click'): void
}>()

function handleClick() {
  emit('click')
  newlyClicked.value = true
  setTimeout(() => {
    newlyClicked.value = false
    localText.value = props.text
  }, 5000)
  setTimeout(() => {
    localText.value = 'Skickad'
  }, 1500)
}
</script>
<style scoped>
.sendAnimation {
  animation: sendAnimation 2s;
}

@keyframes sendAnimation {
  0% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(10%);
  }

  66% {
    transform: translateX(100%);
  }

  90% {
    opacity: 0;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
  }
}
</style>
