:root {
  /* Colors */
  --color-primary: #fff7db;
  --color-secondary: #766c45;
  --color-tertiary: #a82d65;
  --color-h2: var(--color-tertiary);
  --color-h1: var(--color-secondary);

  /* Fonts */
  --font-primary: 'Lovely Melody', sans-serif;
  --font-secondary: 'Cormorant Garamond', serif;

  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1.25rem;
  --font-size-h5: 1rem;
  --font-size-h6: 0.875rem;
  --font-size-p: 1rem;
  --font-size-button: 1rem;

  /* Lovely Melody  h2, h1 */
  /* Cormorant Garamond button, p */

  /* Border Radius */
  --border-radius-small: 2px;
  --border-radius: 4px;
  --border-radius-large: 8px;
  --border-radius-rounded: 9999px;

  /* Spacing */
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;
}
