<template>
  <div class="View BarMenuView">
    <div>
      <p style="font-size: larger; white-space: break-spaces">
        Baren finns i ladan och är öppen <wbr />
        <span style="font-weight: 600"> 16:15 - 01:00</span>
      </p>
      <small>
        Brudens favorit är markerad med
        <span style="color: #0ecf10; font-weight: 600">grönt.</span> Brudgummens är markerad med
        <span style="color: royalblue; font-weight: 600">blått</span>
      </small>
      <h2 class="payments">
        <img :src="swishLogo" alt="swish" height="35" />
        <img :src="visaLogo" alt="visa" height="20" />
        <img :src="masterCardLogo" alt="kort" height="35" />
      </h2>
      <BarMenu />
    </div>
  </div>
</template>
<script setup lang="ts">
import BarMenu from '@/components/BarMenu.vue'
const swishLogo = new URL('@/assets/swishLogo.svg', import.meta.url).href
const masterCardLogo = new URL('@/assets/masterCard.svg', import.meta.url).href
const visaLogo = new URL('@/assets/visa.png', import.meta.url).href
</script>
<style scoped>
.BarMenuView {
  text-align: center;
}

h1 {
  margin-block-end: 0;
}

.open-hours {
  margin-block-start: 0;
  margin-block-end: 1rem;
  color: darkslategray;
  font-size: 40px;
}

.payments {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
</style>
