<template>
  <div class="View ClothesView">
    <div class="full-width">
      <h2>Maskulint</h2>
      <p>Ljusgrå alternativt ljussbeige kavaj eller kostym</p>
      <PinterestBoard url="https://www.pinterest.se/parifrjd/man-in-greysand/" />
    </div>
    <div class="full-width">
      <h2>Feminint</h2>
      <p>Blommig klänning</p>
      <PinterestBoard url="https://www.pinterest.se/parifrjd/women-in-floral-print/" />
    </div>
  </div>
</template>

<script setup lang="ts">
import PinterestBoard from '@/components/PinterestBoard.vue'
import { onMounted, nextTick } from 'vue'

onMounted(() => {
  // Delay the pinterest script loading until the component is mounted
  nextTick(() => {
    const script = document.createElement('script')
    script.src = 'https://assets.pinterest.com/js/pinit.js'
    document.body.appendChild(script)
  })
})
</script>
<style scoped>
.ClothesView {
  gap: 24px;
}

h2 {
  margin-top: 8px;
  margin-bottom: 0px;
}

p {
  padding: 8px;
}

.full-width {
  border-radius: 18px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 730px;
  width: 90%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
</style>
