<template>
  <div class="View ContactView">
    <p style="font-size: larger">Blandad information</p>
    <ul>
      <li>
        <span>Vigsel och tårta är alla välkomna till</span>
      </li>
      <li>
        <span>Kvällen är barnfri</span>
      </li>
      <li>
        <LinkInternal linkText="Tal och spex synkas med ToastMadame" url="/speachSpex" />
      </li>
      <li>
        <LinkInternal linkText="Gåvor synkas med gåvo ansvarig" url="/gift" />
      </li>
      <li>
        <span>Övriga tankar och frågor hänvisas till brudparet</span>
      </li>
    </ul>
    <div class="contacts">
      <ContactCard
        :imageSrc="pariImage"
        imageAlt="pari bild"
        title="Bruden"
        name="Pari Fröjd"
        email="parichatfrojd@hotmail.com"
        phone="0735-24 22 60"
        emailSubject="Bröllop"
      />
      <ContactCard
        :imageSrc="christoferImage"
        imageAlt="christofer bild"
        title="Brudgummen"
        name="Christofer Wikman"
        email="christofer.wikman@gmail.com"
        phone="0733-88 81 57"
        emailSubject="Bröllop"
      />
    </div>
  </div>
</template>
<script setup lang="ts">
import { ref, onBeforeMount } from 'vue'
import ContactCard from '@/components/ContactCard.vue'
import LinkInternal from '@/components/LinkInternal.vue'
import { getProfileImage } from '@/utils/FirebaseStorage'

const christoferImage = ref('')
const pariImage = ref('')

onBeforeMount(async () => {
  pariImage.value = await getProfileImage('pari.jpeg')
  christoferImage.value = await getProfileImage('christofer.jpg')
})
</script>
<style scoped>
ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 12px;
  margin-bottom: 24px;
  padding: 12px 16px;
  background: var(--color-primary-light);
  color: black;
  font-weight: 600;
  border: 2px double var(--color-tertiary);
  font-size: 16px;
  border-radius: 8px;
}

li {
  padding: 8px;
}

.ContactView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100vw;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100vw;
}
</style>
