<template>
  <div v-if="images.length > 0" style="max-width: 100%">
    <carousel
      v-if="!isMobile && images.length > 4"
      :autoplay="2000"
      :itemsToShow="3.95"
      :wrapAround="true"
      :transition="500"
    >
      <slide v-for="(image, index) in images" :key="index">
        <img :src="image" width="200" />
      </slide>

      <template #addons>
        <navigation />
        <pagination />
      </template>
    </carousel>
    <div class="images">
      <img
        v-for="(image, index) in sortedImages"
        :key="index"
        :src="image"
        class="image"
        @click="showLargeImage(image)"
      />
    </div>
  </div>
  <div v-else>
    <h2>Inga bilder tillgängliga</h2>
  </div>
</template>
<script setup lang="ts">
import { ref, onMounted, computed } from 'vue'
import { getGalleryThumbnailImages, getGalleryImageFromThumbnail } from '@/utils/FirebaseStorage'
import 'vue3-carousel/dist/carousel.css'
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel'
import { isBefore } from 'date-fns'

const images = ref([]) as any

onMounted(async () => {
  await getGalleryThumbnailImages().then((data) => {
    images.value = data
  })
  setInterval(async () => {
    await getGalleryThumbnailImages().then((data) => {
      images.value = data
    })
  }, 1000 * 60)
})

const isMobile = ref(window.innerWidth < 768)

const sortedImages = computed(() => {
  const localImages = [...images.value]
  return localImages.sort((a: any, b: any) => {
    return isBefore(new Date(a.createdAt), new Date(b.createdAt)) ? 1 : -1
  })
})

async function showLargeImage(image: string) {
  const fullSizeImage = await getGalleryImageFromThumbnail(image)
  window.open(fullSizeImage, '_blank')
}
</script>

<style scoped>
.carousel__slide {
  padding: 5px;
}

.carousel__viewport {
  perspective: 2000px;
}

.carousel__track {
  transform-style: preserve-3d;
}

.carousel__slide--sliding {
  transition: 0.5s;
}

.carousel__slide {
  opacity: 0.5;
  transform: rotateY(-20deg) scale(0.9);
}

.carousel__slide--active ~ .carousel__slide {
  transform: rotateY(20deg) scale(0.9);
}

.carousel__slide--prev {
  opacity: 0.9;
  transform: rotateY(-10deg) scale(0.95);
}

.carousel__slide--next {
  opacity: 0.9;
  transform: rotateY(10deg) scale(0.95);
}

.carousel__slide--active {
  opacity: 1;
  transform: rotateY(0) scale(1.1);
  filter: drop-shadow(2px 4px 6px black);
}

.images {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 32px;
  filter: drop-shadow(2px 4px 6px black);
}

.image {
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 0;

  &:hover {
    border-radius: 50%;
  }
}

@media (max-width: 768px) {
  .images {
    justify-content: center;
  }

  .image {
    max-width: 90%;
  }
}
</style>
