<template>
  <div class="GiftView">
    <p style="font-size: larger">
      Vi (Pari) har hunnit samlat på oss mer prylar än vad vi får plats med. Men ett bidrag till vår
      bröllopsresa uppskattas, stort som litet
    </p>

    <section>
      <p>Swish eller konto. Men önskar du vara anonym måste eventuell insättning ske till konto.</p>
      <div class="gift-ways">
        <div class="swish">
          <h2>Swish</h2>
          <img :src="christoferSwishPDF" alt="swish" height="200" />
        </div>
        <div class="swedbank">
          <h2>Konto</h2>
          <div style="flex: 1; display: flex; align-items: center">
            <img :src="swedbankLogo" alt="swedbank" height="100" />
          </div>
          <div style="margin-top: 12px">
            <p>Anita Karlsson</p>

            <p style="min-width: 100%; cursor: pointer" @click="copyAccountNumber">
              <span v-if="newlyCopied">Kopierat!</span>
              <span style="font-family: 'Courier New', Courier, monospace" v-else>
                {{ accountNumber }}
                <IconBase iconName="Copy" />
              </span>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <p>Har du frågor gällande bröllopsgåva, kontakta Anita</p>
      <ContactCard
        class="ContactCardAnita"
        emailSubject="Bröllopsgåva"
        phone="0707566576"
        email="trollanita@icloud.com"
        name="Anita Karlsson"
        title="Gåvo ansvarig"
        imageAlt="Anita"
        :imageSrc="anitaImage"
      />
    </section>
  </div>
</template>
<script setup lang="ts">
import { ref, onBeforeMount } from 'vue'
import ContactCard from '@/components/ContactCard.vue'
import IconBase from '@/components/Icons/IconBase.vue'
import { getProfileImage } from '@/utils/FirebaseStorage'

const anitaImage = ref('')

onBeforeMount(async () => {
  anitaImage.value = await getProfileImage('anita.jpg')
})

const christoferSwishPDF = new URL('@/assets/christoferSwishQR.svg', import.meta.url).href
const swedbankLogo = new URL('@/assets/swedbank.svg', import.meta.url).href
const accountNumber = '8032-5,354 666 263-0'

const newlyCopied = ref(false)

function copyAccountNumber() {
  navigator.clipboard.writeText(accountNumber)
  newlyCopied.value = true
  setTimeout(() => {
    newlyCopied.value = false
  }, 3000)
}
</script>
<style scoped>
.gift-ways {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100vw;
}

.swish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100vw;
  width: 220px;
}

.swedbank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100vw;
  width: 220px;
}

.ContactCardAnita {
  display: inline-flex;
  margin-top: 24px;
  width: 200px;
}
</style>
