<template>
  <main class="HomeView">
    <div style="width: 50vw">
      <img class="HeroImage" :src="heroImage" alt="hero-image" />
    </div>
    <div style="display: flex; flex-direction: column; flex: 1">
      <div
        style="
          font-size: calc(25px + 4.390625vw);
          align-self: center;
          font-family: var(--font-primary);
        "
        v-html="namesText"
      />
      <h2 class="date">29.07.23</h2>
      <h2 class="text">Vi ser fram emot att dela vår <wbr /> bröllopsdag tillsammans med dig</h2>

      <div class="accepted-counter">
        <h2 style="margin-bottom: 0">
          <GuestCounter />
        </h2>
        <h2 style="font-family: var(--font-secondary); margin-top: 0">Har tackat ja</h2>
      </div>
      <HomeViewPrimaryButton class="HomeViewPrimaryButton" />
    </div>
  </main>
</template>

<script setup lang="ts">
import HomeViewPrimaryButton from '@/components/Buttons/HomeViewPrimaryButton.vue'
import GuestCounter from '@/components/GuestCounter.vue'

const heroImage = new URL('@/assets/logo.svg', import.meta.url).href
const namesText = '&#xe029;ar&#xe008;christofe&#xe045;'
</script>

<style scoped>
.HomeView {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 68px);
  width: 100vw;
  gap: 5vw;
  margin-top: -15vmin;
}

.names {
  display: flex;
  align-items: center;
}

.date {
  font-family: var(--font-secondary);
  font-size: 4rem;
  line-height: 1px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
}

.HomeViewPrimaryButton {
  margin: 1rem;
}

.accpeted-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 12px;
  margin-bottom: 20px;
}

.text {
  font-size: 3rem;
  font-weight: 100;
  margin-top: 80px;
  color: #615858;
  overflow-wrap: break-word;
  hyphens: manual;
}

@media (max-width: 860px) {
  .HomeView {
    flex-direction: column;
    height: 100%;
    gap: 0;
    margin-top: -20vmin;
  }

  h2 {
    font-size: 1.2rem;
  }

  .names {
    margin-top: 1rem;
  }

  .date {
    font-size: 2rem;
  }

  .text {
    font-size: 1.5rem;
    max-width: 100vw;
    margin-top: 50px;
  }
}
</style>
