<template>
  <div class="View LocationView">
    <div>
      <p style="font-size: larger">Hofsnäs Herrgård</p>
      <div class="hofsnas-contact-links">
        <LinkExternal
          type="GoogleMap"
          url="https://goo.gl/maps/AxWPn5DBUdohngvN8"
          linkText="Länghem"
          iconSize="md"
        />
        <LinkPhone phone="032540321" showNumber iconSize="md" />
        <LinkWebsite url="http://www.hofsnas.se" showUrl iconSize="md" />
      </div>
      <div style="display: flex; flex-wrap: wrap; justify-content: center">
        <section>
          <h2>Vigsel och Fest</h2>
          <p>Vigseln sker på utvald plats i naturreservatet.</p>
          <p>Middag och fest hålls i bröllopsladan</p>
        </section>
        <section>
          <h2>Hyrd Buss</h2>
          <p>
            Anmäl intresse i
            <LinkInternal url="/osa" linkText="O.S.A." />
          </p>
          <ul class="bus-schedule">
            <li>13.45 Borås Resecentrum - Hofsnäs</li>
            <li>01.20 Hofsnäs - Borås Resecentrum</li>
          </ul>
        </section>
        <section>
          <h2>Boende</h2>
          <p>Vi ser gärna att ni stannar festen ut.</p>
          <p>Behöver ni övernattning finns här ett par alternativ</p>
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 8px;
              margin-top: 12px;
            "
          >
            <LinkWebsite
              text="Hotell i borås"
              url="https://www.booking.com/searchresults.sv.html?aid=310018&label=boras-FVQM5lyqDGMvm6iOpuX8cQS502742447494%3Apl%3Ata%3Ap15%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-1594353911%3Alp1012500%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YbC4OlOULAnvxFjnh9VL-5w&sid=98a0f454eda2420e300f3bc3b24fcda0&city=-2473547&redirected=1&redirected_from_city=1&source=city&"
              iconSize="md"
            />
            <LinkWebsite
              text="Hofsnäs Campingen"
              url="https://www.boras.se/upplevaochgora/friluftslivochnatur/grillplatserochvindskydd/hofsnasgrillplatser/hofsnascampingengrillplats.4.20c1fc8f158fdc1156ac0f55.html"
              iconSize="md"
            />
            <LinkWebsite
              text="Hofsnäs Ställplats (ej bokningsbar)"
              url="https://www.svenskastallplatser.se/vastra-gotaland/hofsnas-stallplats/"
              iconSize="md"
            />
          </div>
        </section>
      </div>
      <section>
        <h2>Vägbeskrivning</h2>
        <DirectionBorasHofsnas />
      </section>
    </div>
  </div>
</template>
<script setup lang="ts">
import DirectionBorasHofsnas from '@/components/DirectionBorasHofsnas.vue'
import LinkWebsite from '@/components/LinkWebsite.vue'
import LinkPhone from '@/components/LinkPhone.vue'
import LinkExternal from '@/components/LinkExternal.vue'
import LinkInternal from '@/components/LinkInternal.vue'
</script>
<style scoped>
.hofsnas-contact-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 12px;
}

.bus-schedule {
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bus-schedule li {
  margin: 8px;
}

.maps-link {
  white-space: nowrap;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}
</style>
