<template>
  <main>
    <button @click="signinPopup()">SignIn with Google</button>
  </main>
</template>

<script lang="ts">
import { GoogleAuthProvider } from 'firebase/auth'
export const googleAuthProvider = new GoogleAuthProvider()
</script>

<script setup lang="ts">
import { ref } from 'vue'
import { signInWithPopup, signOut } from 'firebase/auth'
import { useFirebaseAuth } from 'vuefire'
const auth: any = useFirebaseAuth()

// display errors if any
const error = ref(null)

function signinPopup() {
  error.value = null
  signInWithPopup(auth, googleAuthProvider).catch((reason) => {
    console.error('Failed sign', reason)
    error.value = reason
  })
}
</script>
