<template>
  <div class="menu">
    <div>
      <p style="font-size: larger">
        Det bjuds på förrätt, sommarbuffé & efterrätt samt tre glas förfriskande drycker
      </p>
      <p>
        Anmäl behov av specialkost i
        <LinkInternal url="/osa" link-text="OSA" />
      </p>
    </div>
    <div>
      <h2>Förrätt</h2>
      <p>Ett antal fräscha smårätter</p>
      <ul>
        <li>Laxtartar</li>
        <li>Crostini med svampcréme, tryffel & friterad lök</li>
        <li>Paj på lokala ostar & karamelliserad purjolök</li>
        <li>Mozzarella, chark & melon</li>
      </ul>
    </div>
    <div>
      <h2>Middag</h2>
      <p>En härlig sommarbuffé</p>
      <ul>
        <li>Svensk kycklingfilé med salsa verde & ruccola</li>
        <li>Potatissallad med krassemaio</li>
        <li>Gravad lax med hovmästarsås</li>
        <li>Varmrökt lax med picklad lök & dijjoncréme</li>
        <li>Potatisstomp med gubbröra, créme fraiche & friterad dill</li>
        <li>Melon, lime, mynta</li>
        <li>Marinerade oliver & semitorkade tomater</li>
        <li>Smördegsstrudel med grana padano & örter</li>
        <li>Svensk lufttorkad skinka & chark</li>
        <li>Ostar & kex</li>
      </ul>
    </div>
    <div>
      <h2>Efterrätt</h2>
      <p>Välj fritt en av de somriga efterrätterna</p>
      <ul>
        <li>Mjölkchokladpanacotta med färska jordgubbar</li>
        <li>Brownie med vispad grädde & rostad choklad</li>
        <li>Lindökaka med vit choklad & hallon</li>
        <li>Fudgetryffel</li>
      </ul>
    </div>
  </div>
</template>
<script setup lang="ts">
import LinkInternal from '@/components/LinkInternal.vue'
</script>
<style scoped>
ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  font-family: var(--font-secondary);
}

li {
  margin: 0.5rem 0;
  font-style: italic;
}

h2 {
  margin-block-end: 0;
  margin-block-start: 3.5rem;
}

h1 {
  margin-block-end: 0;
}
</style>
