<template>
  <div class="View OSAView">
    <p style="font-size: larger">
      Svara på inbjudan senast den
      <span
        style="
          font-family: 'Courier New', Courier, monospace;
          font-weight: bold;
          word-spacing: -8px;
        "
        >1 Juni</span
      >
    </p>
    <p>Skicka in svaret individuellt</p>
    <p>
      Vid eventuella frågor kontakta
      <LinkEmail
        class="support-email-link"
        iconSize="sm"
        email="christofer.wikman@gmail.com"
        emailSubject="Bröllop OSA"
      >
        Christofer
      </LinkEmail>
    </p>
    <div class="osa">
      <div class="osa-form-wrapper">
        <FormKit
          type="form"
          id="osa-form"
          v-model="onGoingOSA"
          submit-label="OSA"
          @submit="submitHandler"
          :actions="false"
          #default="{ value, state: { valid } }"
        >
          <FormKit
            label-class="formkit-label-class"
            type="text"
            name="name"
            id="name"
            label="Namn*"
            validation-visibility="live"
            validation="required"
            :validation-messages="{
              required: 'Måste anges'
            }"
          />
          <FormKit
            legend-class="formkit-label-class"
            v-model="participating"
            type="radio"
            label="Medverkan*"
            validation-visibility="live"
            validation="required"
            name="participating"
            id="participating"
            :validation-messages="{
              required: 'Måste anges'
            }"
            :options="[
              { value: 'Vigsel och fest', label: 'Ja, jag är med på vigsel och fest' },
              { value: 'vigsel', label: 'Jag kommer på vigsel men inte fest' },
              { value: 'inget', label: 'Nej, jag kan tyvärr inte komma' }
            ]"
          />
          <FormKit
            label-class="formkit-label-class"
            type="tel"
            name="phone"
            id="phone"
            label="Mobil*"
            validation-visibility="live"
            validation="required|tel"
            maxlength="15"
            :validation-messages="{
              required: 'Måste anges',
              tel: 'Ange ett giltigt telefonnummer'
            }"
          />
          <FormKit
            label-class="formkit-label-class"
            type="email"
            name="email"
            id="email"
            label="Email*"
            validation="required|email"
            validation-visibility="live"
            :validation-messages="{
              required: 'Måste anges',
              email: 'Ange en giltig email'
            }"
          />
          <FormKit
            legend-class="formkit-label-class"
            v-model="bus"
            type="checkbox"
            label="Buss"
            name="bus"
            id="bus"
            :options="[
              {
                value: 'Till bröllopet',
                label: 'Borås - Hofsnäs',
                help: 'Avgång 13:45',
                attrs: { disabled: !participating || participating === 'inget' }
              },
              {
                value: 'Från bröllopet',
                label: 'Hofsnäs - Borås',
                help: 'Avgång 01:20',
                attrs: { disabled: !participating || ['inget', 'vigsel'].includes(participating) }
              }
            ]"
          />
          <FormKit v-model="songList" name="songList" id="songList" type="list">
            <p class="formkit-label-class">Önskelåtar under kvällen</p>
            <FormKit label-class="formkit-label-class" label="Låt 1" />
            <FormKit v-if="numberOfSongs > 1" label-class="formkit-label-class" label="Låt 2" />
            <FormKit v-if="numberOfSongs > 2" label-class="formkit-label-class" label="Låt 3" />
            <SecondaryButton
              type="button"
              style="margin-bottom: 20px"
              @click="incrementNumberOfSongs"
              v-if="numberOfSongs < 4"
              >Jag vill önska fler låtar
            </SecondaryButton>
            <p style="color: var(--color-tertiary); margin-bottom: 20px" v-else>
              Stop hallå eller, du får inte hela playlisten för dig själv!
            </p>
          </FormKit>
          <FormKit
            maxlength="400"
            :help="`${value.specialFood ? value.specialFood.length : 0}/ 400`"
            label-class="formkit-label-class"
            :disabled="participating === 'inget'"
            type="textarea"
            rows="3"
            name="specialFood"
            id="specialFood"
            label="Specialkost"
          />
          <FormKit
            maxlength="400"
            :help="`${value.other ? value.other.length : 0}/ 400`"
            label-class="formkit-label-class"
            type="textarea"
            rows="5"
            name="other"
            id="other"
            label="Övrigt"
          />
          <div style="display: flex">
            <SendButton style="flex: 1" type="submit" text="Skicka" :disabled="!valid" />
          </div>
        </FormKit>
      </div>
      <div v-if="osaCollection.length > 0">
        <h2 style="margin-bottom: 0">Inskickade</h2>
        <p>Blev något fel? Skicka bara in igen.</p>
        <CardContainer
          class="osa-sent"
          v-for="osa in osaCollection"
          :key="osa.name"
          :id="`osa-sent-${osa.name}`"
        >
          <h3 class="osa-sent-name">{{ osa.name }}</h3>
          <p class="osa-sent-row">
            <span class="osa-sent-subtitle"> Medverkan:</span> <span> {{ osa.participating }}</span>
          </p>
          <p class="osa-sent-row">
            <span class="osa-sent-subtitle">Telefon: </span> <span>{{ osa.phone }}</span>
          </p>
          <p class="osa-sent-row">
            <span class="osa-sent-subtitle">Email: </span> <span>{{ osa.email }}</span>
          </p>
          <p class="osa-sent-row">
            <span class="osa-sent-subtitle">Buss:</span> <span> {{ osa.bus.toString() }} </span>
          </p>
          <p class="osa-sent-row">
            <span class="osa-sent-subtitle">Specialkost: </span> <span>{{ osa.specialFood }}</span>
          </p>
          <p class="osa-sent-row">
            <span class="osa-sent-subtitle">Övrigt: </span><span>{{ osa.other }}</span>
          </p>
          <SecondaryButton style="align-self: center; margin-top: 18px" @click="fillOSAForm(osa)">
            Fyll formuläret med ovanstående information
          </SecondaryButton>
        </CardContainer>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, reactive } from 'vue'
import { reset as resetForm } from '@formkit/core'
import type { Ref } from 'vue'
import sanitizeHtml from 'sanitize-html'
import { database } from '@/firebase'
import { doc, setDoc } from 'firebase/firestore'
import LinkEmail from '@/components/LinkEmail.vue'
import CardContainer from '@/components/CardContainer.vue'
import SendButton from '@/components/Buttons/SendButton.vue'
import { nextTick } from 'vue'
import SecondaryButton from '@/components/Buttons/SecondaryButton.vue'

interface OSA {
  name: string
  participating: string
  phone: string
  email: string
  bus: string[]
  songList: string[]
  specialFood: string
  other: string
  createdAt?: Date
  updatedAt?: Date
}

const initialOSA = {
  name: '',
  participating: '',
  phone: '',
  email: '',
  bus: [],
  songList: ['', '', ''],
  specialFood: '',
  other: ''
}
const songList = ref([])
const numberOfSongs = ref(1)
const localStorageOsaCollection = localStorage.getItem('osaCollection')
const bus = ref(null)
const osaCollection = ref(
  localStorageOsaCollection ? JSON.parse(localStorageOsaCollection) : []
) as Ref<OSA[]>
const participating = ref(null)
const onGoingOSA = ref<OSA>(initialOSA)

function incrementNumberOfSongs() {
  numberOfSongs.value++
}

function fillOSAForm(osa: OSA) {
  const addedSongs = osa.songList.filter((song) => song !== '')
  numberOfSongs.value = addedSongs.length > 0 ? addedSongs.length : 1
  resetForm('osa-form', osa)
  onGoingOSA.value.name = osa.name || ''
  onGoingOSA.value.participating = osa.participating || ''
  onGoingOSA.value.phone = osa.phone || ''
  onGoingOSA.value.email = osa.email || ''
  onGoingOSA.value.bus = osa.bus || []
  onGoingOSA.value.songList = osa.songList || ['']
  onGoingOSA.value.specialFood = osa.specialFood || ''
  onGoingOSA.value.other = osa.other || ''
}
async function submitHandler(data: OSA) {
  const dataSanitized = {
    ...data,
    name: sanitizeHtml(data.name),
    participating: sanitizeHtml(data.participating),
    phone: sanitizeHtml(data.phone),
    email: sanitizeHtml(data.email),
    bus: data.bus.map((b: string) => sanitizeHtml(b)),
    songList: data.songList.map((s: string) => {
      return sanitizeHtml(s)
    }),
    specialFood: sanitizeHtml(data.specialFood),
    other: sanitizeHtml(data.other)
  }

  const index = osaCollection.value.findIndex((osa: any) => osa.name === dataSanitized.name)
  if (index === -1) {
    dataSanitized.createdAt = new Date()
    osaCollection.value.push(dataSanitized)
  } else {
    dataSanitized.updatedAt = new Date()
    osaCollection.value[index] = dataSanitized
  }
  localStorage.setItem('osaCollection', JSON.stringify(osaCollection.value))
  try {
    // create object from datasanitized without the keys that are empty strings or arrays, check if array is empty or all values in arry are empty strings
    const dataSanitizedWithoutEmptyValues = Object.fromEntries(
      Object.entries(dataSanitized).filter(([_, v]) => {
        if (Array.isArray(v)) {
          if (v.length > 0) {
            return v.some((value) => value !== '')
          }
          return false
        }
        return v !== ''
      })
    )

    await setDoc(doc(database, 'osa', dataSanitized.name), dataSanitizedWithoutEmptyValues, {
      merge: true
    })
  } catch (e) {
    console.error('Error adding document: ', e)
  }

  nextTick(() => {
    const osaSent = document.getElementById(`osa-sent-${data.name}`)
    if (osaSent) {
      resetForm('osa-form')
      numberOfSongs.value = 1
      osaSent.scrollIntoView({ behavior: 'smooth', block: 'center' })
    }
  })
}
</script>
<style scoped>
.OSAView {
  text-align: center;
  flex-direction: column;
}

.support-email-link {
  justify-content: center;
  text-decoration: none;
  display: inline-flex;
  gap: 4px;
}

.osa-form-wrapper {
  width: 400px;
  max-width: 90vw;
  margin-top: 24px;
  text-align: start;
}

.osa {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
  gap: 24px;
  max-width: 100vw;
}

.osa-sent {
  align-items: flex-start;
  padding: 12px;
  width: 400px;
  max-width: 95vw;
}

.osa-sent-name {
  align-self: center;
  margin-top: 0;
}

.osa-sent-row {
  text-align: start;
  margin: 8px;
}

.osa-sent-subtitle {
  font-weight: bold;
}
</style>
<style>
.formkit-label-class {
  color: #746d6a;
  font-weight: bold;
  font-family: var(--font-secondary);
  font-size: var(--font-size-h4);
}
</style>
