<template>
  <div>
    <h3 style="font-size: 48px">Praktisk kunskap</h3>
    
    <div class="crownMolding">
      <h3 style="font-size: 40px">Taklister</h3>
      <FormKit
        legend-class="formkit-label-class"
        v-model="springAngle"
        type="radio"
        label="List-vinkel"
        validation-visibility="live"
        validation="required"
        name="springAngle"
        id="springAngle"
        :validation-messages="{
          required: 'Måste anges'
        }"
        :options="[
          { value: '38', label: '38° (Den del av listen som är mot väggen är längst)' },
          { value: '45', label: '45° (Lika stor del mot vägg som mot tak)' },
          { value: '52', label: '52° (Den del av listen som är mot taket är längst)' }
        ]"
      />
      <FormKit
        type="number"
        label="Ange vägghörnets vinkel"
        v-model="wallAngle"
        name="wallAngle"
        min="0"
        max="175"
      />
      <h3>Innerhörn</h3>
      <ul
        style="
          list-style: auto;
          display: flex;
          flex-direction: column;
          gap: 12px;
          align-items: center;
        "
      >
        <li>
          <div style="text-align: center; padding: 12px; background: white; border-radius: 12px">
            <p style="max-width: 300px">
              Markera tak sidan på listen, föreslagsvis med en bit tejp.
            </p>
          </div>
        </li>
        <li>
          <div style="text-align: center; padding: 12px; background: white; border-radius: 12px">
            <p style="max-width: 300px">
              Lägg listen plant mot sågborde (om du har flera vinklar är det är det två yttersta
              vinkelspetsarna som ska ligga mot sågbordet)
            </p>
          </div>
        </li>
        <li>
          <div style="text-align: center; padding: 12px; background: white; border-radius: 12px">
            <h4 style="margin-bottom: 8px; margin-top: 4px">Inställning såg</h4>
            <p>
              Sågvinkel <b>{{ bevelAngleDegrees.toFixed(2) }}</b>
            </p>
            <p>
              Sågbordsvinkel: <b>{{ mitreAngleDegrees.toFixed(2) }} </b>
            </p>
          </div>
        </li>
        <li>
          <div style="display: flex; align-items: stretch; gap: 12px">
            <div style="text-align: center; padding: 12px; background: white; border-radius: 12px">
              <h4 style="margin-bottom: 8px; margin-top: 4px">Vänster sida</h4>
              <ul style="text-align: left; margin: 0">
                <li>Tak in mot sågen</li>
                <li>Sågen vriden åt höger</li>
                <li>Behåll stycket vänster om sågen</li>
              </ul>
            </div>
            <div style="text-align: center; padding: 12px; background: white; border-radius: 12px">
              <h4 style="margin-bottom: 8px; margin-top: 4px">Höger sida</h4>
              <ul style="text-align: left; margin: 0">
                <li>Tak ut från sågen</li>
                <li>Sågen vriden åt vänster</li>
                <li>Behåll stycket vänster om sågen</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>

      <h3> Skarvning </h3>
      <p>För att skarva lister på längden, lägg ett snitt på <b>15 grader</b> på vardera del</p>
        
        
    </div>
  </div>
</template>
<script setup lang="ts">
import { ref, computed } from 'vue'

type SpringAngle = 38 | 45 | 52
const springAngle = ref<SpringAngle>(45)
const wallAngle = ref<number>(90)

const halfWallAngleRad = computed(() => {
  return (wallAngle.value * Math.PI) / 360
})

const mitreAngle = computed(() => {
  let springAngleRad = springAngle.value * (Math.PI / 180)
  return Math.atan(Math.sin(springAngleRad) / Math.tan(halfWallAngleRad.value))
})

const bevelAngle = computed(() => {
  let springAngleRad = springAngle.value * (Math.PI / 180)

  return Math.asin(Math.cos(springAngleRad) * Math.cos(halfWallAngleRad.value))
})

const bevelAngleDegrees = computed(() => {
  return (bevelAngle.value * 180) / Math.PI
})

const mitreAngleDegrees = computed(() => {
  return (mitreAngle.value * 180) / Math.PI
})
</script>
<style scoped>
.PracticalKnowledgeView {
  text-align: center;
}

.crownMolding {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
</style>
