<template>
  <div style="display: flex; flex-direction: column">
    <div>
      <FormKit type="form" submit-label="Rätta" @submit="grade">
        <FormKit
          v-for="(question, index) in questions"
          :name="index.toString()"
          :id="index.toString()"
          :key="index"
          type="radio"
          :label="(index + 1).toString()"
          :options="question.options"
          :help="question.help"
          :help-class="{
            larger: true
          }"
        />
      </FormKit>
    </div>

    <Card v-if="isGraded">
      <template #title>
        <h3 v-if="points === questions.length" style="color: green">Alla rätt</h3>
        <h3 v-else-if="points === 0" style="color: red">Inga rätt</h3>
        <h3 v-else style="color: #222">{{ points }} rätt av {{ questions.length }} möjliga</h3>
      </template>
      <template #content>
        <p>Facit:</p>
        <ul>
          <li :key="question.correctLong" v-for="question in questions">
            <span :class="{ 'wrong-answer': Number(question.answer) !== question.correct }"
              >{{ question.label }}: {{ question.correctLong }}</span
            >
          </li>
        </ul>
      </template>
    </Card>
  </div>
</template>
<script setup lang="ts">
import Card from 'primevue/card'
import { onMounted } from 'vue'
import { ref } from 'vue'

const isGraded = ref(false)
const points = ref(0)
const wrongAnswerIndexes = ref<Number[]>([])

const questions = [
  {
    label: '1',
    options: {
      1: '24 augusti 2019',
      2: '24 juni 2018',
      3: '24 augusti 2018'
    },
    help: 'När gifte sig Eveline och Robin?',
    correct: 1,
    correctLong: '24 augusti 2019',
    answer: 0
  },

  {
    label: '2',
    options: {
      1: 'Bild och form',
      2: 'Textil, mode och design',
      3: 'Samhälle'
    },
    help: 'Vilken linje läste Eve på gymnasiet?',
    correct: 2,
    correctLong: 'Textil, mode och design',
    answer: 0
  },

  {
    label: '3',
    options: {
      1: 'Gelé',
      2: 'Lakrits',
      3: 'Choklad'
    },
    help: 'Vilken favoritgodis har Eve av följande?',
    correct: 3,
    correctLong: 'Choklad',
    answer: 0
  },

  {
    label: '4',
    options: {
      1: 'Thailand',
      2: 'Spanien',
      3: 'Australien'
    },
    help: 'Vart reser Eve helst?',
    correct: 1,
    correctLong: 'Thailand',
    answer: 0
  },

  {
    label: '5',
    options: {
      1: 'Gul',
      2: 'Rosa',
      3: 'Röd'
    },
    help: 'Vilken favoritfärg har Eve av följande?',
    correct: 2,
    correctLong: 'Rosa',
    answer: 0
  },

  {
    label: '6',
    options: {
      1: 'Ros',
      2: 'Stjärna',
      3: 'Kvinnotecknet'
    },
    help: 'Vilket motiv var Eves första tatuering?',
    correct: 3,
    correctLong: 'Kvinnotecknet',
    answer: 0
  },

  {
    label: '7',
    options: {
      1: 'Här utanför i korsningen',
      2: 'Vid fontänen i Brunnsparken',
      3: 'Vid Klippans Café vid Rödasten'
    },
    help: 'Var träffades Eveline och Robin första gången i verkligheten?',
    correct: 1,
    correctLong: 'Här utanför i korsningen',
    answer: 0
  },

  {
    label: '8',
    options: {
      1: 'Klarlack',
      2: 'Rosa',
      3: 'Rött'
    },
    help: 'Vilken färg har Eve på tårna 90% av året?',
    correct: 3,
    correctLong: 'Rött',
    answer: 0
  },

  {
    label: '9',
    options: {
      1: 'Näsa, ögonbryn och tunga',
      2: 'Bröstvårta, navel och tunga',
      3: 'Bröstvårta, intim och näsa'
    },
    help: 'Många piercingar har jag haft under åren. Vilken stämmer inte?',
    correct: 3,
    correctLong: 'Bröstvårta, intim och näsa',
    answer: 0
  },

  {
    label: '10',
    options: {
      1: 'Tinder',
      2: 'Badoo',
      3: 'Match.com'
    },
    help: 'På vilken dating sida träffades Robin o Eve?',
    correct: 2,
    correctLong: 'Badoo',
    answer: 0
  },
  {
    label: '11',
    options: {
      1: 'På restaurang sjömagasinet i Göteborg',
      2: 'I hallen',
      3: 'I Paris på romantisk semester'
    },
    help: 'Vart friade Robin till Eveline ?',
    correct: 2,
    correctLong: 'I hallen',
    answer: 0
  },
  {
    label: '12',
    options: {
      1: 'Hajar och höjder',
      2: 'Spindlar och mörker',
      3: 'Mörker och hajar'
    },
    help: 'Två fobier har hon, vilka stämmer?',
    correct: 1,
    correctLong: 'Hajar och höjder',
    answer: 0
  },
  {
    label: '13',
    options: {
      1: 'Öl',
      2: 'Fläder Cider',
      3: 'Portvin'
    },
    help: 'Vilken dryck tycker Eve inte om?',
    correct: 1,
    correctLong: 'Öl',
    answer: 0
  },
  {
    label: '14',
    options: {
      1: 'Målarförbundet',
      2: 'Odlings förening',
      3: 'Reptilförbundet'
    },
    help: 'Vilken förening är Eveline med i?',
    correct: 2,
    correctLong: 'Odlings förening',
    answer: 0
  },
  {
    label: '15',
    options: {
      1: 'Nej',
      2: 'Ja',
      3: 'Bara i medicinsk syfte'
    },
    help: 'Har Eve testat botox?',
    correct: 1,
    correctLong: 'Nej',
    answer: 0
  }
]
onMounted(() => {
    const existingAnswers = window.localStorage.getItem('answers')
    if (existingAnswers) {
      isGraded.value = true
      const answers = JSON.parse(existingAnswers)
      grade(answers)
    }
    
})

function grade(answers: any) {
window.localStorage.setItem('answers', JSON.stringify(answers))
  isGraded.value = true
  points.value = 0

  Object.values(answers).forEach((answer: any, index: number) => {
    questions[index].answer = answer
    if (Number(answer) === questions[index].correct) {
      points.value++
    } else {
      wrongAnswerIndexes.value.push(index)
    }
  })
}
</script>
<style>
.wrong-answer {
  color: red;
}
.larger {
  font-size: 16px;
}
</style>
