<template>
  <div style="display: flex; flex-direction: column">
    <div>
      <FormKit type="form" submit-label="Rätta" @submit="grade">
        <FormKit
          v-for="(question, index) in questions"
          :name="index.toString()"
          :id="index.toString()"
          :key="index"
          type="radio"
          :label="(index + 1).toString()"
          :options="question.options"
          :help="question.help"
          :help-class="{
            larger: true
          }"
        />
      </FormKit>
    </div>

    <Card v-if="isGraded">
      <template #title>
        <h3 v-if="points === questions.length" style="color: green">Alla rätt</h3>
        <h3 v-else-if="points === 0" style="color: red">Inga rätt</h3>
        <h3 v-else style="color: #222">{{ points }} rätt av {{ questions.length }} möjliga</h3>
      </template>
      <template #content>
        <p>Facit:</p>
        <ul>
          <li :key="question.correctLong" v-for="question in questions">
            <span :class="{ 'wrong-answer': Number(question.answer) !== question.correct }"
              >{{ question.label }}: {{ question.correctLong }}</span
            >
          </li>
        </ul>
      </template>
    </Card>
  </div>
</template>
<script setup lang="ts">
import Card from 'primevue/card'
import { ref } from 'vue'

const isGraded = ref(false)
const points = ref(0)
const wrongAnswerIndexes = ref<Number[]>([])

const questions = [
  {
    label: '1',
    options: {
      1: '27 Juli',
      2: '28 Juli',
      3: '29 Juli'
    },
    help: 'Vilket datum gifte sig Christofer och Pari?',
    correct: 3,
    correctLong: '29 Juli',
    answer: 0
  },
  {
    label: '2',
    options: {
      1: '60-70',
      2: '80-90',
      3: '>100'
    },
    help: 'Hur många servetter rev Eve och hennes möss?',
    correct: 3,
    correctLong: 'Över 100',
    answer: 0
  },
  {
    label: '3',
    options: {
      1: 'Marianne',
      2: 'Monica',
      3: 'Mikaela'
    },
    help: 'Vad heter den inhoppade Toastmadamen?',
    correct: 2,
    correctLong: 'Monica',
    answer: 0
  },
  {
    label: '4',
    options: {
      1: 'Antonio Kristian Mattias Robin',
      2: 'Antonio David Mattias Martin',
      3: 'Niklas Kristian Mattias Robin'
    },
    help: 'Bestmans har ni koll på vad dem heter?',
    correct: 1,
    correctLong: 'Antonio Kristian Mattias Robin',
    answer: 0
  },
  {
    label: '5',
    options: {
      1: '81',
      2: '88',
      3: '95'
    },
    help: 'Hur många gäster var det under vigseln, barn inräknade?',
    correct: 3,
    correctLong: '95',
    answer: 0
  },
  {
    label: '6',
    options: {
      1: '1',
      2: '5',
      3: '7'
    },
    help: 'Hur många gäster cancellade på bröllopsdagen?',
    correct: 2,
    correctLong: '5',
    answer: 0
  },
  {
    label: '7',
    options: {
      1: '71',
      2: '77',
      3: '83'
    },
    help: 'Hur många middagsgäster var det?',
    correct: 1,
    correctLong: '71',
    answer: 0
  },
  {
    label: '8',
    options: {
      1: '1, 3, 5, 10 och 25',
      2: '1, 5, 10, 15 och 25',
      3: '1, 3, 5, 10 och 20'
    },
    help: 'Det fanns glasflaskor där gästerna kunde lämna meddelanden till brudparet, vad stod det för antal år på dem?',
    correct: 3,
    correctLong: '1, 3, 5, 10 och 20',
    answer: 0
  },
  {
    label: '9',
    options: {
      1: 'Atlanta, USA',
      2: 'Stockholm, Sverige',
      3: 'Chiang Mai, Thailand'
    },
    help: 'Varifrån reste gästen/erna som reste längst för att komma till bröllopet?',
    correct: 1,
    correctLong: 'Atlanta, USA',
    answer: 0
  },
  {
    label: '10',
    options: {
      1: '7',
      2: '8',
      3: '9'
    },
    help: 'Hur många barn under 12 kunde vi se på vigseln?',
    correct: 2,
    correctLong: '8',
    answer: 0
  },
  {
    label: '11',
    options: {
      1: '69',
      2: '82',
      3: '96'
    },
    help: 'Hur många pappersbollar hängde i taket på festen?',
    correct: 3,
    correctLong: '96',
    answer: 0
  },
  {
    label: '12',
    options: {
      1: 'Carin',
      2: 'Ida',
      3: 'Frida'
    },
    help: 'Vad hette bröllopsfixaren på Hofsnäs Herrgård?',
    correct: 1,
    correctLong: 'Carin',
    answer: 0
  },
  {
    label: '13',
    options: {
      1: 'Aperol spritz',
      2: 'Cava',
      3: 'Somersby  sparkling rose'
    },
    help: 'Vilken var brudens favorit dryck i baren?',
    correct: 2,
    correctLong: 'Cava',
    answer: 0
  },
  {
    label: '14',
    options: {
      1: 'Cuba libre',
      2: 'Gin & tonic',
      3: 'Rådanäs säteri'
    },
    help: 'Vilken var brudgummens favorit dryck i baren?',
    correct: 2,
    correctLong: 'Gin & tonic',
    answer: 0
  },
  {
    label: '15',
    options: {
      1: 'På ettårsdagen 12 Juni 2020',
      2: 'Midsommarafton 2020',
      3: 'På ettårsdagen 12 Juni 2021'
    },
    help: 'När friade Christofer till Pari?',
    correct: 1,
    correctLong: 'På ettårsdagen 12 Juni 2020',
    answer: 0
  },
  {
    label: '16',
    options: {
      1: '1',
      2: '2',
      3: '3'
    },
    help: 'Hur många gånger har Christofer friat till Pari?',
    correct: 1,
    correctLong: '1',
    answer: 0
  },
  {
    label: '17',
    options: {
      1: '10',
      2: '13',
      3: '15'
    },
    help: 'Hur många var med på möhippan?',
    correct: 3,
    correctLong: '15',
    answer: 0
  },
  {
    label: '18',
    options: {
      1: '01:20',
      2: '01:30',
      3: '01:40'
    },
    help: 'Vilken tid skulle bussen till stan avgå?',
    correct: 1,
    correctLong: '01:20',
    answer: 0
  },
  {
    label: '19',
    options: {
      1: '5',
      2: '7',
      3: '9'
    },
    help: 'Hur många nationaliteter fanns representerade på bröllopet?',
    correct: 3,
    correctLong:
      '9 (Sverige, Thailand, Island, Österrike, Kroatien, England, Sri Lanka, Irland, Uruguay)',
    answer: 0
  },
  {
    label: '20',
    options: {
      1: '30 December 2019',
      2: '26 Januari 2020',
      3: '14 April 2020'
    },
    help: 'När började Pari flytta in till Christofer i Aplared?',
    correct: 1,
    correctLong: '30 December 2019',
    answer: 0
  },
  {
    label: '21',
    options: {
      1: '35',
      2: '39',
      3: '40'
    },
    help: 'Christofer fyller snart år, Hur gammal blir han?',
    correct: 2,
    correctLong: '39',
    answer: 0
  },
  {
    label: '22',
    options: {
      1: '13 December 2022',
      2: '24 Maj 2022',
      3: '12 Februar1 2023'
    },
    help: 'När köpte Pari bröllopsklänningen och fick ta med sig den hem?',
    correct: 1,
    correctLong: '13 December 2022',
    answer: 0
  },
  {
    label: '23',
    options: {
      1: 'Love you like a love song - Selena Gomez',
      2: 'A thousand years - Christina Perri',
      3: 'I get to love you - Ruelle'
    },
    help: 'Vad hette bröllopslåten?',
    correct: 3,
    correctLong: 'I get to love you - Ruelle',
    answer: 0
  },
  {
    label: '24',
    options: {
      1: 'The Garrison',
      2: 'Cos',
      3: 'Tiger of Sweden'
    },
    help: 'Vart är brudgummens kostym köpt?',
    correct: 1,
    correctLong: 'The Garrison',
    answer: 0
  },
  {
    label: '25',
    options: {
      1: 'Brudparet',
      2: 'Adrian och Joel',
      3: 'Claes och Panchan'
    },
    help: 'Vem vann Chokladinslagnings utmaningen?',
    correct: 3,
    correctLong: 'Claes och Panchan',
    answer: 0
  }
]

function grade(answers: any) {
  isGraded.value = true
  points.value = 0

  Object.values(answers).forEach((answer: any, index: number) => {
    questions[index].answer = answer
    if (Number(answer) === questions[index].correct) {
      points.value++
    } else {
      wrongAnswerIndexes.value.push(index)
    }
  })
}
</script>
<style>
.wrong-answer {
  color: red;
}
.larger {
  font-size: 16px;
}
</style>
