<template>
  <div class="View ScheduleView">
    <ScheduleEvent
      class="ScheduleEvent"
      v-for="event in scheduleEvents"
      :key="event.title"
      :iconName="event.iconName"
      :title="event.title"
      :time="event.time"
      :description="event.description"
    />
  </div>
</template>
<script setup lang="ts">
import ScheduleEvent from '@/components/ScheduleEvent.vue'
import type { iconName } from '@/components/Icons/IconBase.vue'

interface Event {
  title: string
  description: string
  time: string
  iconName: iconName
}

const scheduleEvents: Event[] = [
  {
    title: 'Transport',
    description: 'Hyrd buss från Borås resecentrum till Hofsnäs',
    time: '13:45',
    iconName: 'Bus'
  },
  {
    title: 'Vigsel',
    description: 'Utomhus i den vackra naturen. Följ skyltning på plats',
    time: '15:00',
    iconName: 'Ring'
  },
  {
    title: 'Brudskål',
    description: 'Brudparet presenteras och skålar med gästerna',
    time: '16:00',
    iconName: 'Cheers'
  },
  {
    title: 'Tårta',
    description: 'Serveras med kaffe och kaka på ladans altan',
    time: '16:15',
    iconName: 'Cake'
  },
  {
    title: 'Mingel',
    description:
      'Brudparet smiter iväg för fotografering, fritt häng på Hofsnäs bland sjungande fåglar',
    time: '16:45',
    iconName: 'Explore'
  },

  {
    title: 'Middag',
    description: 'Trerätters buffé i bröllopsladan med tal, skål och spex',
    time: '18:30',
    iconName: 'Dinner'
  },
  {
    title: 'Fest',
    description: 'Dansgolvet öppnar, baren går varm och klackarna slår i taket ',
    time: '22:00',
    iconName: 'Party'
  },
  {
    title: 'Hemfärd',
    description: 'Hyrd buss från Hofsnäs till Borås resecentrum',
    time: '01:20',
    iconName: 'Bus'
  }
]
</script>
<style scoped>
.ScheduleView {
  gap: 18px;
}

.ScheduleView:nth-child(even) {
  background-color: var(--color-secondary);
}

.ScheduleEvent:nth-child(even) {
  margin-top: 56px;
}
</style>
