<template>
  <div class="SharedEconomy">
    <h1>Delad ekonomi</h1>
    <p>
      Här kan du räkna ut hur mycket varje person ska betala baserat på deras inkomst och utgifter.
    </p>
    <p>
      Fyll i respektive persons inkomst och utgifter för att räkna ut hur mycket varje person ska betala.
    </p>
    <h3>
      Totalt att betala till <b>{{userToPayTo}}</b>: <span class="result-value">{{ amountToPay }}:-</span>
    </h3> 
    <div class="fieldSets--container">
      <Fieldset class="fieldSet" legend="Pari">
        <div class="input-group">
          <div class="formField">
            <label for="pariIncome" class="input__label">Inkomst</label>
            <InputNumber v-model="pariIncome" inputId="pariIncome" />
          </div>
          <div class="formField">
      <label for="expences" class="input__label">Gemensamma utgifter</label>
      <InputNumber v-model="expencesPari" inputId="expencesPari" />
    </div>
          <!-- <div class="formField">
                    <label for="pariPaid" class="input__label">Redan betalat (valfri)</label>
                    <InputNumber v-model="pariPaid" inputId="pariPaid" />
                </div> -->
        </div>
        <div class="result-group">
          <h3>
            Andel: <span class="result-value">{{ Math.ceil(user1Share * 100) }}%</span>
          </h3>
          <h3>
            Att betala: <span class="result-value">{{ user1Pay }}:-</span>
          </h3>
        </div>
      </Fieldset>
      <Fieldset class="fieldSet" legend="Christofer">
        <div class="input-group">
          <div class="formField">
            <label for="christoferIncome" class="input__label">Inkomst</label>
            <InputNumber v-model="christoferIncome" inputId="christoferIncome" />
          </div>
          <div class="formField">
      <label for="expences" class="input__label">Gemensamma utgifter</label>
      <InputNumber v-model="expencesChristofer" inputId="expencesChristofer" />
    </div>
          <!-- <div class="formField">
                    <label for="paid2" class="input__label">Redan betalat (valfri)</label>
                    <InputNumber v-model="paid2" inputId="paid2" />
                </div> -->
        </div>
        <div class="result-group">
          <h3>
            Andel: <span class="result-value">{{ Math.ceil(user2Share * 100) }}%</span>
          </h3>
          <h3>
            Att betala: <span class="result-value">{{ user2Pay }}:-</span>
          </h3>
        </div>
      </Fieldset>
    </div>
    <div class="result-group">
      <h3>
        Totala utgifter: <span class="result-value">{{ totalExpences }}:-</span> 
      </h3>
      <!-- <h3>
        Sparande: <span class="result-value">{{ savings }}:-</span>
      </h3> -->
      <h3>
        Total inkomst: <span class="result-value">{{ totalIncome }}:-</span>
      </h3>
      </div>
  </div>
</template>
<script setup lang="ts">
import { computed, ref } from 'vue'
import Fieldset from 'primevue/fieldset'
import InputNumber from 'primevue/inputnumber'
import { database } from '@/firebase'
import { useUserStore } from '@/stores/users'
import { doc, setDoc } from 'firebase/firestore'

const users = useUserStore()

const pariPaid = ref(0)
// const savings = ref(2000)
const christoferPaid = ref(0)



const expencesPari = computed({
  get: () => {
    return users.pari?.sharedExpenses || 0
  },
  set: (newValue) => {
    setDoc(doc(database, 'users', 'Pari'), { sharedExpenses: newValue }, { merge: true })
  }
})

const expencesChristofer = computed({
  get: () => {
    return users.christofer?.sharedExpenses || 0
  },
  set: (newValue) => {
    setDoc(doc(database, 'users', 'Christofer'), { sharedExpenses: newValue }, { merge: true })
  }
})


const amountToPay = computed(() => {
  return Math.max(user1PayNew.value, user2PayNew.value)
})

const userToPayTo = computed(() => {
  return expencesPari.value > expencesChristofer.value ? 'Pari' : 'Christofer'
})

const totalExpences = computed(() => {
  return expencesPari.value + expencesChristofer.value
})

const pariIncome = computed({
  get: () => {
    return users.pari?.income || 0
  },
  set: (newValue) => {
    setDoc(doc(database, 'users', 'Pari'), { income: newValue }, { merge: true })
  }
})

const christoferIncome = computed({
  get: () => {
    return users.christofer?.income || 0
  },
  set: (newValue) => {
    setDoc(doc(database, 'users', 'Christofer'), { income: newValue }, { merge: true })
  }
})

const totalIncome = computed(() => {
  return pariIncome.value + christoferIncome.value
})
const user1Share = computed(() => {
  const share = pariIncome.value / totalIncome.value
  if (isNaN(share)) {
    return 0
  }
  return share
})

const user2Share = computed(() => {
  const share = christoferIncome.value / totalIncome.value
  if (isNaN(share)) {
    return 0
  }
  return share
})

const user1Pay = computed(() => {
  const pay = user1Share.value * totalExpences.value - pariPaid.value
  if (isNaN(pay)) {
    return 0
  }
  return Math.ceil(pay)
})

const user1PayNew = computed(() => {
  const pay = user1Share.value * totalExpences.value - expencesPari.value
  if (isNaN(pay)) {
    return 0
  }
  return Math.ceil(pay)
})

const user2PayNew = computed(() => {
  const pay = user2Share.value * totalExpences.value - expencesChristofer.value
  if (isNaN(pay)) {
    return 0
  }
  return Math.ceil(pay)
})

const user2Pay = computed(() => {
  const pay = user2Share.value * totalExpences.value - christoferPaid.value
  if (isNaN(pay)) {
    return 0
  }
  return Math.ceil(pay)
})
</script>
<style scoped>
.SharedEconomy {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.formField {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.input-group {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.result-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.result-value {
  font-weight: 600;
}

h3 {
  margin: 0;
  font-weight: 400;
  text-align: start;
}

.fieldSets--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
</style>
