<template>
  <div class="SpeechSpexView">
    <p style="font-size: larger">Vill du vara med och hålla tal på bröllopet?</p>
    <p style="margin-top: 8px">
      Kanske kan du berätta något storartat eller pinsamt om Brud eller Brudgum.
    </p>
    <p>
      Eller känner du kanske för att dra ihop någon lättsam lek som får gästerna att släppa loss.
    </p>
    <p>Hör i så fall av dig till <wbr /> Lisa Granlöf.</p>
    <ContactCardSpeech class="ContactCardSpeech" emailSubject="Bröllop tal eller spex" />
  </div>
</template>
<script setup lang="ts">
import ContactCardSpeech from '@/components/ContactCardSpeech.vue'
</script>
<style scoped>
.SpeechSpexView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100vw;
}

.ContactCardSpeech {
  display: inline-flex;
  margin-top: 24px;
  width: 200px;
}
</style>
