<template>
  <div>
    <Transition name="slide appear">
      <div v-if="image" class="frame">
        <img :src="image" alt="" />
      </div>
      <div v-else style="max-width: 100%; overflow: hidden">
        <div style="display: flex; flex-direction: column">
          <video autoPlay="true" playsInline="true"></video>
        </div>
      </div>
    </Transition>
  </div>
</template>
<script setup lang="ts">
import { ref, onMounted, onBeforeUnmount } from 'vue'
import { uploadSurpriseImage } from '@/utils/FirebaseStorage'

const image = ref(null) as any
const images = ref([]) as any
const stream = ref(null) as any
const takingPicture = ref(false)
const isCameraOpen = ref(false)

onMounted(async () => {
  isCameraOpen.value = await openCamera()
  setTimeout(() => {
    takePicture()
  }, 500)
})

onBeforeUnmount(() => {
  if (stream.value) {
    stream.value.getTracks().forEach((track: any) => {
      track.stop()
    })
  }
})

async function openCamera() {
  try {
    stream.value = await navigator.mediaDevices.getUserMedia({
      audio: false,
      video: true
    })

    const video = document.querySelector('video')

    if (!video) {
      return false
    }

    video.srcObject = stream.value
    video.onloadedmetadata = async () => {
      await video.play()
    }

    return true
  } catch (err) {
    console.log(err)
    return false
  }
}

async function takePicture() {
  takingPicture.value = true

  const video = document.querySelector('video')
  const canvas = document.createElement('canvas')
  const context = canvas.getContext('2d')

  if (!video || !context) {
    setTimeout(() => {
      takingPicture.value = false
    }, 1000)

    return
  }

  try {
    canvas.width = video.videoWidth
    canvas.height = video.videoHeight
    context.drawImage(video, 0, 0, video.videoWidth, video.videoHeight)
    const data = canvas.toDataURL('image/png')
    image.value = data
    console.log(image.value)
    canvas.toBlob(
      async (blob) => {
        if (!blob) return
        await uploadSurpriseImage(blob)

        images.value.push(blob)
        setTimeout(() => {
          takingPicture.value = false
        }, 1000)
      },
      'image/jpeg',
      0.95
    )
  } catch (error) {
    console.log(error)
    setTimeout(() => {
      takingPicture.value = false
    }, 1000)
  }
}
</script>
<style scoped>
html {
  background-image: linear-gradient(#eee, #aaa);
  height: 100%;
}

img {
  border: solid 2px;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
  max-height: 100%;
  max-width: 100%;
}

.frame {
  filter: drop-shadow(2px 4px 6px gray);
  background-color: #ddc;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  height: 80vh;
  padding: 6vmin;
  position: relative;
  text-align: center;
}

.frame::before {
  border-radius: 2px;
  bottom: -2vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
  content: '';
  left: -2vmin;
  position: absolute;
  right: -2vmin;
  top: -2vmin;
}

.frame::after {
  border-radius: 2px;
  bottom: -2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  content: '';
  left: -2.5vmin;
  position: absolute;
  right: -2.5vmin;
  top: -2.5vmin;
}

.slide-enter-active {
  animation: slide-in 0.5s ease-out forwards;
}

.slide-leave-active {
  animation: slide-out 0.5s ease-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
</style>
