<template>
  <div style="max-width: 100%; overflow: hidden">
    <div
      style="
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 8px;
      "
    >
      <select
        v-if="isMobile"
        v-model="selectedCamera"
        style="
          padding: 8px;
          border-radius: var(--border-radius);
          border: none;
          outline: none;
          background-color: #eee9e999;
          color: black;
        "
      >
        <option v-for="(camera, index) in availableCameras" :key="index" :value="camera.deviceId">
          {{ camera.label }}
        </option>
      </select>
      <PrimaryButton :disabled="takingPicture || !isCameraOpen" @click="takePicture">{{
        !takingPicture ? 'Ta bild' : 'Plåtar'
      }}</PrimaryButton>
      <SecondaryButton @click="openFiles">Öppna filhanterare</SecondaryButton>
    </div>

    <div style="display: flex; flex-direction: column">
      <video autoPlay="true" playsInline="true"></video>
    </div>
  </div>
</template>
<script setup lang="ts">
import { ref, onMounted, onBeforeUnmount, watch } from 'vue'
import PrimaryButton from '@/components/Buttons/PrimaryButton.vue'
import SecondaryButton from '@/components/Buttons/SecondaryButton.vue'
import { uploadGalleryImage } from '@/utils/FirebaseStorage'

const images = ref([]) as any
const stream = ref(null) as any
const takingPicture = ref(false)
const isCameraOpen = ref(false)
const availableCameras = ref([]) as any
const selectedCamera = ref(null) as any
const isMobile = ref(window.innerWidth < 768)

onMounted(async () => {
  isCameraOpen.value = await openCamera()
  setTimeout(async () => {
    availableCameras.value = await getDevices()
    console.log(availableCameras.value)
  }, 200)
})

onBeforeUnmount(() => {
  if (stream.value) {
    stream.value.getTracks().forEach((track: any) => {
      track.stop()
    })
  }
})

watch(selectedCamera, async (newValue, oldValue) => {
  if (!oldValue) return

  if (newValue) {
    if (stream.value) {
      await stopMediaTracks()
    }
    await openCamera()
  }
})

async function stopMediaTracks() {
  await stream.value.getTracks().forEach((track: any) => {
    track.stop()
  })
}

async function openFiles() {
  const input = document.createElement('input')
  input.type = 'file'
  input.accept = 'image/*'
  input.multiple = true
  input.onchange = async (e) => {
    const target = e.target as HTMLInputElement
    const files = target.files
    if (!files) return
    for (let i = 0; i < files.length; i++) {
      const file = files[i]
      const reader = new FileReader()
      reader.onload = async (e) => {
        const data = e.target?.result
        if (data) {
          await uploadGalleryImage(file)
          images.value.push(data.toString())
        }
      }
      reader.readAsDataURL(file)
    }
  }
  input.click()
}
async function getDevices() {
  /* Make sure mediaDevices.getUserMedia() did run before. */
  const mediaDevices = await navigator.mediaDevices.enumerateDevices()
  return mediaDevices.filter((device) => device.kind === 'videoinput')
}

async function openCamera() {
  let videoSettings = {}

  if (isMobile.value) {
    if (!selectedCamera.value && availableCameras.value.length > 0) {
      selectedCamera.value = availableCameras.value[0].deviceId
    }

    if (!selectedCamera.value) {
      videoSettings = true
    } else {
      videoSettings = {
        deviceId: {
          exact: selectedCamera.value
        }
      }
    }
  } else {
    videoSettings = {
      width: { min: 200, ideal: 720, max: 1080 },
      height: { min: 266, ideal: 957, max: 1436 }
    }
  }

  try {
    stream.value = await navigator.mediaDevices.getUserMedia({
      audio: false,
      video: videoSettings
    })

    selectedCamera.value = stream.value.getVideoTracks()[0].getSettings().deviceId
    const video = document.querySelector('video')

    if (!video) {
      return false
    }

    video.srcObject = stream.value
    video.onloadedmetadata = async () => {
      await video.play()
    }

    return true
  } catch (err) {
    console.log(err)
    return false
  }
}

async function takePicture() {
  takingPicture.value = true

  const video = document.querySelector('video')
  const canvas = document.createElement('canvas')
  const context = canvas.getContext('2d')

  if (!video || !context) {
    setTimeout(() => {
      takingPicture.value = false
    }, 1000)

    return
  }

  try {
    canvas.width = video.videoWidth
    canvas.height = video.videoHeight
    context.drawImage(video, 0, 0, video.videoWidth, video.videoHeight)

    canvas.toBlob(
      async (blob) => {
        if (!blob) return
        await uploadGalleryImage(blob)
        images.value.push(blob)
        setTimeout(() => {
          takingPicture.value = false
        }, 1000)
      },
      'image/jpeg',
      0.95
    )
  } catch (error) {
    console.log(error)
    setTimeout(() => {
      takingPicture.value = false
    }, 1000)
  }
}
</script>
