<template>
  <div class="WeddingEntourage">
    <h2 style="font-size: 40px">Under konstruktion</h2>
    <img style="max-width: 80vw" :src="hammerGif" alt="hammer-gif" />
  </div>
</template>
<script setup lang="ts">
const hammerGif = new URL('@/assets/under-construction.gif', import.meta.url).href
</script>
<style scoped>
.WeddingEntourage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-height: 100vh;
}
</style>
