<template>
  <Transition @before-enter="beforeEnter" @enter="enter" @leave="leave">
    <slot></slot>
  </Transition>
</template>
<script setup lang="ts">
import anime from 'animejs/lib/anime.es.js'

function beforeEnter(el: Element) {
  anime.set(el, { opacity: 0 })
}
function enter(el: Element, done: () => void) {
  anime({
    targets: el,
    opacity: 1,
    duration: 1000,
    easing: 'easeInOutQuad',
    complete: done
  })
}
function leave(el: Element, done: () => void) {
  anime({
    targets: el,
    opacity: 0,
    duration: 1000,
    easing: 'easeInOutQuad',
    complete: done
  })
}
</script>
