<template>
  <div class="menu">
    <h2 class="menu-title">{{ props.title }}</h2>
    <div class="item" v-for="item in props.items" :key="item.name" :class="item.favorit">
      <h4 class="item-name">{{ item.name }}</h4>
      <p class="item-price">{{ item.price }} kr</p>
    </div>
  </div>
</template>
<script lang="ts" setup>
const props = defineProps<{
  items: { name: string; price: number; favorit?: string }[]
  title: string
}>()
</script>
<style scoped>
.menu-title {
  margin-block-end: 0;
  margin-block-start: 0;
}

.brides-favorit {
  color: #0ecf10;
}

.grooms-favorit {
  color: royalblue;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 300px;
  justify-content: space-between;
  border-bottom: 1px solid #ffebeb;
}

.item-name {
  margin-block-end: 0;
  margin-block-start: 0.5rem;
}

.item-price {
  font-weight: 300;
}
</style>
