<template>
  <div class="BarMenu">
    <BarMenuItem v-for="menu in menus" :key="menu.title" :items="menu.items" :title="menu.title" />
  </div>
</template>

<script setup lang="ts">
import BarMenuItem from './BarMenuItem.vue'

// markera brudens och brudgummens favorit ?
const softDrinks = [
  { name: 'Lemonad', price: 45 },
  { name: 'Coca Cola', price: 35 },
  { name: 'Loka', price: 25 }
]

const beer = [
  { name: 'Mariestad 50cl', price: 75 },
  { name: 'Rådanäs säteri', price: 70 },
  { name: 'Rosenhill yozo', price: 65 }
]

const wine = [
  { name: 'Vitt', price: 90 },
  { name: 'Rött', price: 90 },
  { name: 'Rosé', price: 90 },
  { name: 'Cava', price: 90, favorit: 'brides-favorit' }
]

const drinks = [
  { name: 'Irish coffee', price: 145 },
  { name: 'Blåbärsputte', price: 125 },
  { name: 'Cuba libre', price: 125 },
  { name: 'Aperol spritz', price: 125 },
  { name: 'Gin & tonic', price: 125, favorit: 'grooms-favorit' },
  { name: 'Gin & tonic rabarber', price: 125 }
]

const ciders = [
  { name: 'Somersby  sparkling rose', price: 60 },
  { name: 'Bacardi breezer lime', price: 80 },
  { name: 'Bacardi breezer jordgubb', price: 80 }
]

const menus = [
  { items: softDrinks, title: 'Läsk' },
  { items: beer, title: 'Öl' },
  { items: ciders, title: 'Cider' },
  { items: wine, title: 'Vin' },
  { items: drinks, title: 'Drinkar' }
]
</script>

<style scoped>
.BarMenu {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 44px;
  margin-top: 24px;
  padding-bottom: 20px;
  max-width: 90vw;
  /* box-shadow: 3px 6px 8px 0px rgb(16 12 12 / 50%); */
}
</style>
