<template>
  <ul>
    <li v-for="item in props.items" :key="item.id">
      <slot name="item" :item="item">
        {{ item }}
      </slot>
    </li>
  </ul>
</template>
<script setup lang="ts">
const props = defineProps<{
  items?: Array<any>
}>()
</script>
<style scoped>
ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 12px;
  margin-bottom: 24px;
  padding: 12px 16px;
  background: var(--color-primary-light);
  color: black;
  font-weight: 600;
  border: 2px double var(--color-tertiary);
  font-size: 16px;
  border-radius: 8px;
}
</style>
