<template>
  <CardContainer class="CardContainer">
    <ContactImage :src="props.imageSrc" :alt="props.imageAlt" />
    <div class="profile-info">
      <h2>{{ title }}</h2>
      <h3>{{ name }}</h3>
      <div class="contact-links">
        <LinkPhone :phone="props.phone" showNumber />
        <LinkEmail :email="props.email" :emailSubject="props.emailSubject" />
      </div>
    </div>
  </CardContainer>
</template>
<script setup lang="ts">
import CardContainer from '@/components/CardContainer.vue'
import ContactImage from '@/components/ContactImage.vue'
import LinkEmail from '@/components/LinkEmail.vue'
import LinkPhone from '@/components/LinkPhone.vue'

const props = defineProps<{
  imageSrc: string
  imageAlt: string
  title: string
  name: string
  email: string
  phone: string
  emailSubject: string
}>()
</script>
<style scoped>
.CardContainer {
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  margin-top: 0;
}

.profile-info {
  width: 100%;
}

h2 {
  margin-block-end: 0;
}

h3 {
  margin-block-start: 0;
}

.contact-links {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
  padding: 0 20px;
  flex-wrap: wrap-reverse;
  gap: 8px;
}
</style>
