<template>
  <img class="contact-image" :src="props.src" :alt="alt" />
</template>
<script setup lang="ts">
const props = defineProps<{
  src: string
  alt: string
}>()
</script>
<style scoped>
.contact-image {
  border-radius: var(--border-radius-small);
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  max-width: calc(100% - 8px);
  max-height: 300px;
  transition: all 1s ease;
  filter: grayscale(100%);
  border: solid 4px white;
}
</style>
