<template>
  <ContactCard
    :imageSrc="lisaImage"
    imageAlt="lisa bild"
    title="Kontaktperson"
    name="Lisa Granlöf"
    email="lisa@granlof.org"
    phone="0702839118"
    :emailSubject="props.emailSubject"
  />
</template>
<script setup lang="ts">
import { ref } from 'vue'
import ContactCard from '@/components/ContactCard.vue'
import { onBeforeMount } from 'vue'
import { getProfileImage } from '@/utils/FirebaseStorage'

interface Props {
  emailSubject?: string
}

const props = withDefaults(defineProps<Props>(), {
  emailSubject: 'Bröllop Pari och Christofer'
})
// Create a reference to the file we want to download
const lisaImage = ref('')

// const lisaImage = new URL('@/assets/lisa.jpeg', import.meta.url).href

onBeforeMount(async () => {
  lisaImage.value = await getProfileImage('lisa.jpeg')
})
// Get the download URL
</script>
@/utils/FirebaseStorage
