<template>
  <div class="DirectionCarBorasHofsnas">
    <PrimaryButton style="margin: 18px" @click="showMap = !showMap">{{
      showMapText
    }}</PrimaryButton>
    <PrimaryButton style="margin-bottom: 24px" @click="showDirection = !showDirection">{{
      showDirectionText
    }}</PrimaryButton>
    <div style="display: flex; justify-content: center; flex-wrap: wrap">
      <iframe
        v-if="showMap"
        src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d68313.8093236973!2d13.033399424503529!3d57.65177550092011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x465aa0ad2df46705%3A0x56e05bb84fa97801!2sBor%C3%A5s%20Resecentrum%2C%20Sven%20Eriksonsplatsen%2010%2C%20503%2038%20Bor%C3%A5s!3m2!1d57.7199762!2d12.9325418!4m5!1s0x465077246abfbff7%3A0x40f9ae8ebd249e35!2zSG9mc27DpHMgSGVycmfDpXJkLCBIb2ZzbsOkcyBIZXJyZ8OlcmQsIEzDpG5naGVt!3m2!1d57.6300074!2d13.292304!5e0!3m2!1ssv!2sse!4v1680328894121!5m2!1ssv!2sse"
        width="600"
        height="450"
        style="max-width: 100%"
        allowfullscreen="false"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
      <ul class="directions-written" v-if="showDirection">
        <li>
          Borås Resecentrum Sven Eriksonsplatsen 10, 503 38 Borås Kör ut på väg 27 från
          Varbergsvägen 6 min (3,9 km)
        </li>
        <li>Kör nordväst på Varbergsvägen 32 m</li>
        <li>Fortsätt in på Centralbron 190 m</li>
        <li>I rondellen tar du 4:e avfarten och stannar kvar på Centralbron 260 m</li>
        <li>Centralbron svänger lite åt höger och blir Varbergsvägen 2,8 km</li>
        <li>I rondellen tar du 1:a avfarten och stannar kvar på Varbergsvägen 230 m</li>
        <li>
          I rondellen tar du 2:a avfarten in på infart väg 27 mot Karlskrona/väg 41/Varberg 350 m
        </li>
        <li>Kör in på väg 27 17 min (23,5 km) Kör mot målet 9 min (7,4 km)</li>
        <li>Sväng vänster 2,5 km</li>
        <li>Sväng vänster 1,4 km</li>
        <li>Sväng vänster 91 m</li>
        <li>Sväng höger 1,0 km</li>
        <li>Sväng höger Destinationen kommer att vara på vänster sida 2,4 km</li>
      </ul>
    </div>
  </div>
</template>
<script setup lang="ts">
import { ref, computed } from 'vue'
import PrimaryButton from './Buttons/PrimaryButton.vue'

const showMap = ref(false)
const showDirection = ref(false)

const showDirectionText = computed(() => {
  if (showDirection.value) {
    return 'Dölj vägbeskrivning'
  } else {
    return 'Visa vägbeskrivning'
  }
})

const showMapText = computed(() => {
  if (showMap.value) {
    return 'Dölj karta'
  } else {
    return 'Visa karta'
  }
})
</script>

<style>
.DirectionCarBorasHofsnas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.directions-written {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  list-style-type: circle;
}
</style>
