<template>
  <Transition>
    <div class="GuestCounter">
      <Vue3autocounter
        ref="counter"
        :startAmount="0"
        :endAmount="OSAStore.guestsComing"
        :duration="3"
        separator=","
        decimalSeparator="."
        :decimals="0"
        :autoinit="true"
      />
    </div>
  </Transition>
</template>
<script setup lang="ts">
import Vue3autocounter from 'vue3-autocounter'
import { useOSAStore } from '@/stores/osa'

const OSAStore = useOSAStore()
</script>
<style scoped>
.GuestCounter {
  text-align: center;
  font-size: 4rem;
}

@media (max-width: 768px) {
  .GuestCounter {
    font-size: 2rem;
  }
}
</style>
