<template>
  <img class="HeroImage" :src="heroImageAlt" alt="hero-image" />
</template>
<script setup lang="ts">
const heroImageAlt = new URL('@/assets/logoAlt.svg', import.meta.url).href
</script>
<style scoped>
.HeroImage {
  max-height: 90vh;
  width: 98vw;
  position: fixed;
  z-index: -1;
  top: 0;
  margin-left: 1vw;
  padding-top: 2vh;
}
</style>
