<template>
  <a class="LinkWebsite" :href="props.url" target="_blank" rel="noopener noreferrer">
    <slot>
      <IconBase iconName="Globe" :size="iconSize" />
      <span v-if="props.showUrl">
        {{ strippedUrl }}
      </span>
      <span v-if="text">{{ text }}</span>
    </slot>
  </a>
</template>

<script lang="ts">
import type { iconSize } from './Icons/IconBase.vue'
interface Props {
  url: string
  onlyIcon?: boolean
  showUrl?: boolean
  iconSize?: iconSize
  text?: string
}
</script>

<script setup lang="ts">
import { withDefaults } from 'vue'
import IconBase from '@/components/Icons/IconBase.vue'

const props = withDefaults(defineProps<Props>(), {
  showUrl: false,
  iconSize: 'lg'
})

const strippedUrl = props.url.replace(/(^\w+:|^)\/\//, '')
</script>

<style scoped>
.LinkWebsite {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
</style>
