<template>
  <a :href="props.url">
    <slot>
      {{ props.linkText }}
    </slot>
  </a>
</template>

<script lang="ts">
interface Props {
  url: string
  linkText: string
}
</script>

<script setup lang="ts">
import { withDefaults } from 'vue'

const props = withDefaults(defineProps<Props>(), {
  linkText: ''
})
</script>
