<template>
  <a :href="props.url" target="_blank" rel="noopener noreferrer">
    <slot>
      <IconBase v-if="props.type" :iconName="props.type" :size="iconSize" />
      <span v-if="showLinkText">
        {{ props.linkText }}
      </span>
    </slot>
  </a>
</template>

<script lang="ts">
import type { iconSize } from './Icons/IconBase.vue'
interface Props {
  url: string
  linkText: string
  type?: 'GoogleMap' | 'ExternalLink'
  showLinkText?: boolean
  iconSize?: iconSize
}
</script>

<script setup lang="ts">
import { withDefaults } from 'vue'
import IconBase from '@/components/Icons/IconBase.vue'

const props = withDefaults(defineProps<Props>(), {
  linkText: '',
  type: 'ExternalLink',
  showLinkText: true,
  iconSize: 'lg'
})
</script>

<style scoped>
.LinkExternal {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
</style>
