<template>
  <a class="LinkPhone" :href="phoneHref">
    <IconBase iconName="Phone" :size="props.iconSize" />
    <span v-if="props.showNumber">
      {{ phone }}
    </span>
  </a>
</template>
<script setup lang="ts">
import IconBase from './Icons/IconBase.vue'
import type { iconSize } from './Icons/IconBase.vue'
import { withDefaults } from 'vue'

const props = withDefaults(
  defineProps<{
    phone: string
    showNumber?: boolean
    iconSize?: iconSize
  }>(),
  {
    showNumber: false,
    iconSize: 'lg'
  }
)

const phoneHref = `tel:${props.phone}`
</script>
<style scoped>
.LinkPhone {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: unset;
}
</style>
