<template>
  <a class="LinkEmail" :href="emailHref">
    <IconBase iconName="Envelope" :size="props.iconSize" />
    <slot>
      <span v-if="showEmail">
        {{ props.email }}
      </span>
    </slot>
  </a>
</template>
<script setup lang="ts">
import IconBase from '@/components/Icons/IconBase.vue'
import type { iconSize } from './Icons/IconBase.vue'
import { withDefaults } from 'vue'

const props = withDefaults(
  defineProps<{
    email: string
    emailSubject?: string
    showEmail?: boolean
    iconSize?: iconSize
  }>(),
  {
    emailSubject: 'no subject',
    showEmail: false,
    iconSize: 'lg'
  }
)

const emailHref = `mailto:${props.email}?subject=${props.emailSubject}`
</script>
<style scoped>
.LinkEmail {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
</style>
