<template>
  <div class="MainNavigationDrawer" v-click-outside="clickOutside">
    <div :class="{ 'drawer-expanded': commonStore.isNavigationDrawerOpen }" class="drawer">
      <div style="display: flex; justify-content: flex-end">
        <div class="drawer__toggle" @click="commonStore.toggleNavigationDrawer">
          <IconBase v-if="!commonStore.isNavigationDrawerOpen" iconName="HamburgerMenu" size="lg" />
          <IconBase v-else iconName="ChevronLeft" size="lg" />
        </div>
      </div>
      <div class="drawer__content">
        <nav>
          <RouterLink
            v-for="route in routes"
            :key="route.path"
            :to="route.path"
            v-show="route.meta?.showInNavigation !== false"
            :style="route.name === 'Hem' ? 'background-color: unset' : ''"
          >
            <IconBase
              v-if="route.name === 'Hem'"
              iconName="Logo"
              size="xl"
              style="background-color: unset"
              :style="currentRoute.name === 'Hem' ? 'color: var(--color-tertiary)' : 'color: gray'"
            />

            <span
              v-else-if="
                route.name === 'Ekonomi' &&
                currentUser &&
                ['christofer.wikman@gmail.com', 'pariwikmans@gmail.com'].includes(currentUser.email)
              "
              >Ekonomi</span
            >
            <span v-else-if="route.name !== 'Ekonomi'">{{ route.name }}</span>
          </RouterLink>
          <div v-if="currentUser" class="current-user">
            <Avatar :image="currentUser.photoURL" shape="circle" size="large" />
            <SecondaryButton @click="logout">Logga ut</SecondaryButton>
          </div>
          <div v-else class="current-user">
            <SecondaryButton @click="signinPopup">Logga in</SecondaryButton>
          </div>
        </nav>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { GoogleAuthProvider } from 'firebase/auth'
export const googleAuthProvider = new GoogleAuthProvider()
</script>

<script setup lang="ts">
import { watch, ref } from 'vue'
import { RouterLink, useRouter, useRoute } from 'vue-router'
import IconBase from '@/components/Icons/IconBase.vue'
import { useNavigationStore } from '@/stores/navigation'
import { getCurrentUser } from 'vuefire'
import TypeCheck from '@/utils/TypeCheck'
import SecondaryButton from './Buttons/SecondaryButton.vue'
import { signInWithPopup, signOut } from 'firebase/auth'
import { useFirebaseAuth } from 'vuefire'
import Avatar from 'primevue/avatar'

const auth: any = useFirebaseAuth()

const router = useRouter()
const currentRoute = useRoute()
const routes = router.getRoutes()
const commonStore = useNavigationStore()
const currentUser: any = ref(null)

currentUser.value = await getCurrentUser()

watch(currentRoute, () => {
  if (window.innerWidth < 768) {
    commonStore.closeNavigationDrawer()
  }

  window.scrollTo({
    top: 0,
    behavior: 'smooth'
  })
})

function clickOutside(e: Event) {
  if (!e || !TypeCheck.isHTMLElement(e.target) || e.target.classList.contains('BaseButton')) return
  commonStore.closeNavigationDrawer()
}

async function logout() {
  await signOut(auth)
  currentUser.value = null

  if (router.currentRoute.value.name !== 'Hem') {
    router.push({ name: 'Hem' })
  }
}

async function signinPopup() {
  await signInWithPopup(auth, googleAuthProvider)
  currentUser.value = await getCurrentUser()
}
</script>
<style scoped>
.MainNavigationDrawer {
  position: relative;
}

.drawer__toggle {
  transform: translateX(100%);
  font-size: 24px;
  color: black;
  display: flex;
  cursor: pointer;
  background-color: #eee9e999;
  width: fit-content;
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-primary);
  z-index: 20;
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
  box-shadow: 3px 2px 16px 0px;
}

.drawer-expanded {
  transform: translateX(0);
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.drawer__content {
  padding: 20px;
  padding-top: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex: 1;
}

nav {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  align-items: center;
}

.current-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: auto;
}

nav a {
  padding: 10px;
  border-radius: var(--border-radius);
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  transform: scale(1.1);
}

.router-link-exact-active {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}
</style>
