<template>
  <div class="main-content">
    <slot />
  </div>
</template>
<script setup lang="ts"></script>
<style scoped>
.main-content {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}
</style>
