<template>
  <a
    data-pin-do="embedBoard"
    data-pin-board-width=""
    data-pin-scale-height=""
    data-pin-scale-width="80"
    :href="props.url"
  >
  </a>
</template>
<script setup lang="ts">
const props = defineProps<{
  url: string
}>()
</script>
