<template>
  <div class="ScheduleEvent">
    <div class="event">
      <h2>
        {{ props.title }}
      </h2>
      <IconBase :iconName="props.iconName" :size="props.iconSize" style="width: 6em; height: 4em" />
      <small>
        {{ props.time }}
      </small>
      <small>
        {{ props.description }}
      </small>
    </div>
  </div>
</template>
<script setup lang="ts">
import IconBase from '@/components/Icons/IconBase.vue'
import type { iconSize, iconName } from '@/components/Icons/IconBase.vue'
import { withDefaults } from 'vue'

const props = withDefaults(
  defineProps<{
    title: string
    description?: string
    time?: string
    iconName: iconName
    iconSize?: iconSize
  }>(),
  {
    iconSize: 'xl',
    description: '',
    time: ''
  }
)
</script>
<style scoped>
h2 {
  color: var(--color-tertiary);
  margin-top: 0;
}

.event {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
</style>
