<template>
  <Transition name="fade">
    <button v-show="showButton" class="ScrollToTopButton" @click="scrollToTop">
      <IconBase iconName="UpCircle" size="xl" />
    </button>
  </Transition>
</template>

<script setup lang="ts">
import { withDefaults, ref, onMounted } from 'vue'
import IconBase from '@/components/Icons/IconBase.vue'

const props = withDefaults(
  defineProps<{
    scrollThreshold?: number
  }>(),
  {
    scrollThreshold: 200
  }
)

onMounted(() => {
  window.addEventListener('scroll', handleScroll)
})

const showButton = ref(false)

const lastScrollPosition = ref(999999)

const handleScroll = (scrollEvent: Event) => {
  if (scrollEvent.target === null) {
    return
  }

  const currentScrollPosition = (scrollEvent.target as any).scrollingElement.scrollTop
  if (
    currentScrollPosition < lastScrollPosition.value &&
    currentScrollPosition > props.scrollThreshold
  ) {
    showButton.value = true
  } else {
    showButton.value = false
  }
  lastScrollPosition.value = currentScrollPosition
}

const scrollToTop = () => {
  window.scrollTo({
    top: 0,
    behavior: 'smooth'
  })
}
</script>

<style scoped>
.ScrollToTopButton {
  all: unset;
  position: fixed;
  bottom: 10px;
  right: 40px;
  z-index: 9999;
  background-color: white;
  border-radius: var(--border-radius-rounded);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--color-secondary);
}

.ScrollToTopButton:hover {
  background-color: var(--color-secondary);
  color: white;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}
</style>
