<template>
  <div class="TimeLeftCounter">
    <p class="count-down" v-if="timeLeft > 0" @click="changeTimeUnit">
      <Transition name="slide-down" mode="out-in">
        <span class="time" v-if="timeUnit === 'seconds'"> {{ seconds }} {{ secondsString }} </span>
        <span class="time" v-else-if="timeUnit === 'minutes'">
          {{ minutes }} {{ minutesString }}
        </span>
        <span class="time" v-else-if="timeUnit === 'hours'"> {{ hours }} {{ hoursString }} </span>
        <span class="time" v-else-if="timeUnit === 'days'"> {{ days }} {{ daysString }} </span>
      </Transition>
      <span>till vigseln</span>
    </p>
    <p v-else-if="isWeddingTomorrow">
      <span>Imorgon klockan 15:00 börjar vigseln</span>
    </p>
    <p v-else-if="isWeddingToday">
      <span>Idag gifter vi oss</span>
    </p>
    <p v-else>
      <span>Vi har gift oss!</span>
    </p>
  </div>
</template>
<script setup lang="ts">
import differenceInSeconds from 'date-fns/differenceInSeconds'
import isTomorrow from 'date-fns/isTomorrow'
import isToday from 'date-fns/isToday'

import { computed, watch, ref } from 'vue'

const weddingDay = new Date(2023, 6, 29, 15, 0, 0)
const timeUnit = ref('seconds')
let timeLeft = ref(differenceInSeconds(weddingDay, new Date()))
const isWeddingToday = computed(() => isToday(weddingDay))
const isWeddingTomorrow = computed(() => isTomorrow(weddingDay))
const timeLeftInterval = setInterval(() => {
  timeLeft.value = differenceInSeconds(weddingDay, new Date())
}, 1000)
const timeUnitInterval = setInterval(() => {
  changeTimeUnit()
}, 5000)

watch(timeLeft, () => {
  if (timeLeft.value <= 0) {
    clearInterval(timeLeftInterval)
    clearInterval(timeUnitInterval)
  }
})

const days = computed(() => Math.floor(timeLeft.value / 86400))
const hours = computed(() => Math.floor(timeLeft.value / 3600))
const minutes = computed(() => Math.floor(timeLeft.value / 60))
const seconds = computed(() => timeLeft.value)

const daysString = computed(() => {
  if (days.value === 1) {
    return 'dag'
  }
  return 'dagar'
})

const hoursString = computed(() => {
  if (hours.value === 1) {
    return 'timme'
  }
  return 'timmar'
})

const minutesString = computed(() => {
  if (minutes.value === 1) {
    return 'minut'
  }
  return 'minuter'
})

const secondsString = computed(() => {
  if (seconds.value === 1) {
    return 'sekund'
  }
  return 'sekunder'
})

const changeTimeUnit = () => {
  if (timeUnit.value === 'seconds') {
    timeUnit.value = 'minutes'
  } else if (timeUnit.value === 'minutes') {
    timeUnit.value = 'hours'
  } else if (timeUnit.value === 'hours') {
    timeUnit.value = 'days'
  } else if (timeUnit.value === 'days') {
    timeUnit.value = 'seconds'
  }
}
</script>
<style scoped>
.TimeLeftCounter {
  display: flex;
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-right: 12px;
  color: var(--color-secondary);
}

.count-down {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  top: 4px;
  right: 4px;
}

.time {
  position: absolute;
  right: 68px;
}

@media (max-width: 768px) {
  .days {
    width: 100%;
  }

  .TimeLeftCounter {
    gap: 8px;
  }
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 1.5s ease-in-out;
}

.slide-down-enter-from {
  opacity: 0;
  transform: translateY(-15px);
}

.slide-down-leave-to {
  opacity: 0;
  transform: translateY(15px);
}
</style>
