<template>
  <svg
    version="1.0"
    xmlns="http://www.w3.org/2000/svg"
    width="258.000000pt"
    height="323.000000pt"
    viewBox="0 0 258.000000 323.000000"
    preserveAspectRatio="xMidYMid meet"
  >
    <g
      transform="translate(0.000000,323.000000) scale(0.100000,-0.100000)"
      fill="#000000"
      stroke="none"
    >
      <path
        d="M805 3184 c-204 -27 -366 -69 -564 -146 l-105 -41 39 -32 c21 -18 33
-34 27 -36 -18 -7 3 -858 23 -938 54 -220 190 -325 529 -410 61 -15 112 -33
114 -39 2 -7 -10 -17 -28 -23 -69 -25 -208 -99 -265 -142 -79 -59 -181 -166
-234 -246 -121 -179 -175 -382 -188 -714 l-6 -158 -49 -35 c-75 -56 -90 -105
-42 -143 70 -55 228 -65 447 -29 116 19 161 21 362 18 534 -9 582 -8 670 22
67 22 117 30 305 44 382 29 506 20 628 -46 29 -16 48 -23 42 -15 -21 25 -112
63 -192 79 -95 20 -218 20 -453 1 -254 -21 -236 -23 -193 23 69 71 73 88 73
272 -1 109 -7 195 -18 255 -54 294 -171 526 -335 664 -66 55 -187 124 -269
153 -58 21 -81 38 -51 38 7 0 53 20 104 45 192 93 300 239 369 497 56 210 115
651 115 863 0 175 -20 208 -128 203 -31 -1 -110 6 -175 15 -142 20 -407 21
-552 1z m550 -42 c34 -6 -17 -20 -385 -107 -409 -96 -429 -100 -540 -100 -98
0 -122 3 -164 23 -27 12 -47 24 -44 27 12 12 233 85 328 108 97 24 261 51 370
61 63 6 387 -3 435 -12z m215 -51 c43 -20 52 -54 19 -72 -22 -12 -51 -10 -224
10 -44 5 -111 8 -150 6 -66 -4 -59 -2 100 39 174 44 194 46 255 17z m-119
-117 c79 -15 111 -14 152 1 15 6 17 0 17 -61 -1 -142 -49 -524 -91 -721 -73
-340 -203 -505 -476 -603 -38 -14 -72 -20 -87 -16 -28 7 -28 9 -4 121 26 120
113 263 253 415 49 52 96 113 106 135 40 88 12 186 -61 212 -104 37 -225 -54
-286 -213 -9 -24 -20 -44 -23 -44 -3 0 -17 27 -29 60 -78 201 -271 272 -400
147 -61 -59 -62 -142 0 -212 17 -20 75 -63 129 -96 108 -66 154 -112 196 -191
26 -50 28 -60 28 -175 -1 -67 -3 -125 -7 -128 -8 -9 -232 50 -306 80 -157 64
-237 142 -283 276 -19 56 -23 95 -30 324 -4 143 -8 335 -8 426 l-1 166 167 6
c137 4 205 12 363 42 362 68 521 79 681 49z m-727 -535 c80 -22 181 -158 201
-271 4 -21 11 -38 15 -38 5 0 32 48 61 106 30 62 68 123 90 145 92 92 219 66
219 -46 0 -64 -25 -107 -122 -211 -105 -112 -169 -201 -212 -296 -32 -69 -66
-184 -66 -222 0 -10 -6 -16 -12 -13 -9 2 -11 19 -8 53 24 237 -21 332 -225
469 -68 46 -129 95 -142 114 -57 84 -8 185 102 212 44 10 56 10 99 -2z m348
-945 c318 -114 487 -308 583 -666 34 -126 31 -139 -9 -41 -72 174 -210 344
-359 441 -41 27 -120 68 -176 92 -61 25 -109 53 -121 68 -25 31 -22 34 21 22
18 -6 47 -10 64 -9 37 1 25 5 -38 14 -57 8 -87 33 -87 75 0 39 23 39 122 4z
m-133 -86 c26 -54 55 -78 132 -108 145 -57 288 -154 371 -252 145 -172 222
-361 234 -573 7 -132 -1 -149 -75 -153 -43 -3 -75 5 -162 38 -341 127 -679
142 -993 43 -75 -23 -225 -92 -254 -115 -27 -23 -8 279 29 467 64 320 284 589
581 710 l81 34 17 -22 c9 -12 27 -43 39 -69z m91 -988 c122 -13 274 -50 397
-96 125 -48 203 -55 244 -25 34 25 37 15 10 -37 -24 -46 -63 -83 -121 -113
l-45 -24 -600 0 -600 0 -48 24 c-29 14 -54 35 -63 54 -20 38 -18 41 121 108
204 98 447 136 705 109z m-847 -240 c29 -49 88 -73 190 -78 66 -3 86 -7 77
-16 -7 -7 -61 -11 -153 -11 -112 0 -150 4 -180 17 -55 25 -58 45 -11 85 21 18
44 33 49 33 6 0 19 -14 28 -30z"
      />
    </g>
  </svg>
</template>
