<template>
  <Component
    :is="icons[props.iconName]"
    :class="[{ addColor: props.color }, props.size]"
    class="icon-component"
  />
</template>
<script lang="ts">
import type * as availableIcons from './index'

export type iconName = keyof typeof availableIcons
export type iconSize = 'xs' | 'sm' | 'md' | 'lg' | 'xl'

interface Props {
  size?: iconSize
  iconName: iconName
  color?: string
}
</script>
<script setup lang="ts">
import * as icons from './index'

import { withDefaults } from 'vue'

const props = withDefaults(defineProps<Props>(), {
  size: 'md',
  iconName: 'Envelope',
  color: ''
})

const forceNegativeMargin = (iconName: iconName) => {
  switch (iconName) {
    case 'Cake':
      return '-20px'
    case 'Ring':
      return '-5px'
    default:
      return '0'
  }
}
</script>
<style scoped>
.icon-component {
  margin-left: v-bind(forceNegativeMargin(iconName));
}

.addColor {
  color: v-bind(color);
}

.xs {
  width: 0.5em;
  height: auto;
}

.sm {
  width: 0.75em;
  height: auto;
}

.md {
  width: 1em;
  height: auto;
}

.lg {
  width: 1.5em;
  height: auto;
}

.xl {
  width: 4em;
  height: auto;
}
</style>
