<template>
  <HeroImage v-show="router.currentRoute.value.name !== 'Hem'" />
  <header>
    <Suspense>
      <MainNavigationDrawer />
    </Suspense>
  </header>
  <MainContent>
    <router-view v-slot="{ Component, route }">
      <Transition name="slide" mode="out-in">
        <KeepAlive v-if="route.meta.keepAlive">
          <component :is="Component" :key="route.path" />
        </KeepAlive>
        <component v-else :is="Component" :key="route.path" />
      </Transition>
    </router-view>
    <ScrollToTopButton />
  </MainContent>
</template>

<script setup lang="ts">
import { RouterView, useRouter } from 'vue-router'
import HeroImage from '@/components/HeroImage.vue'
import MainContent from '@/components/MainContent.vue'
import ScrollToTopButton from './components/ScrollToTopButton.vue'
import MainNavigationDrawer from '@/components/MainNavigationDrawer.vue'

const router = useRouter()
</script>

<style scoped>
.slide-enter-active,
.slide-leave-active {
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.slide-enter-to {
  transform: translateX(0);
  opacity: 1;
}

.slide-enter-from {
  transform: translateX(100%);
  opacity: 0;
}

.slide-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-leave-from {
  transform: translateX(0);
}
</style>
<style>
body {
  margin: 0;
  height: 100vh;
  background-color: var(--color-primary);
  font-family: var(--font-secondary);
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 20vmin;
}

p {
  font-family: var(--font-secondary);
  font-size: 1rem;
  margin-block: 0;
  text-align: center;
}

h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  text-align: center;
  color: #766c45;
}

h2 {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  margin-block-end: 0.5em;
  text-align: center;
  color: var(--color-h2);
  font-weight: 100;
  letter-spacing: 2px;
}

h3 {
  font-family: var(--font-secondary);
  font-size: 1.25rem;
  margin-block-end: 0.5em;
  text-align: center;
}

section {
  margin: 20px;
  margin-bottom: 32px;
}

a {
  cursor: pointer;
  color: steelblue;
  font-family: var(--font-secondary);
}

.View {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1120), screen and (min-width: 860px) {
  body {
    margin-top: 20vh;
  }
}

@media screen and (max-width: 860px) {
  body {
    margin-top: 27vw;
  }
}
</style>
